/* Change sans-serif font to Open Sans */
:root {
    --sl-font: 'Open Sans Variable', sans-serif;
	--sl-nav-height: 4rem;
	--sl-mobile-docs-height: 60px;
	--swagger-left: 300px;
	--transition: 0.3s ease-in-out;
	--sb-color-accent-2: #097eb2;
	--sb-color-accent-4: #173647;
	--sb-color-neutral-2: #F8FAFB;
	--sb-color-neutral-14: #212529;
	--color-white: #ffffff;
}

/* Dark mode colors. */
:root {
	--sl-color-accent-low: hsl(115, 60%, 11%);
	--sl-color-accent: hsl(117, 57%, 30%);
	--sl-color-accent-high: hsl(113, 32%, 75%);
	--sl-color-white: hsl(0, 0%, 100%);
	--sl-color-gray-1: hsl(126, 26%, 93%);
	--sl-color-gray-2: hsl(130, 10%, 75%);
	--sl-color-gray-3: hsl(128, 9%, 53%);
	--sl-color-gray-4: hsl(129, 12%, 33%);
	--sl-color-gray-5: hsl(129, 18%, 21%);
	--sl-color-gray-6: hsl(132, 28%, 14%);
    --sl-color-gray-7: hsl(133, 25%, 11%);
	--sl-color-black: var(--sb-color-neutral-14);

	/* Katie's Colors */
	--sl-color-text-accent: var(--sb-color-accent-2);
	--sl-color-text-invert: var(--color-white);
	--side-pane-bg: #2b3239;
	--header-bg: #2b3239;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: hsl(112, 33%, 82%);
	--sl-color-accent: #d8dde4;
	--sl-color-accent-high: hsl(116, 85%, 13%);
	--sl-color-white: hsl(133, 20%, 9%);
	--sl-color-gray-1: hsl(133, 28%, 14%);
	--sl-color-gray-2: var(--sb-color-neutral-14);
	--sl-color-gray-3: hsl(129, 12%, 33%);
	--sl-color-gray-4: hsl(128, 9%, 53%);
	--sl-color-gray-5: hsl(130, 10%, 75%);
	--sl-color-gray-6: #f0f3f5;
	--sl-color-gray-7: hsl(132, 26%, 96%);;
	--sl-color-black: hsl(0, 0%, 100%);

	/* Katie's Colors */
	--sl-color-text-accent: var(--sb-color-accent-2);
	--sl-color-text-invert: var(--color-white);
	--sl-color-white: var(--sb-color-accent-4);
	--side-pane-bg: var(--color-white);
	--header-bg: var(--sb-color-neutral-2);

	--sl-shadow-md: 0 10px 20px -12px rgb(0 0 0 / 0.25);

}

/* Change focus style */
:focus-visible {
    outline: 2px solid hsl(127, 55.19%, 35.88%);
    border-radius: 0.25rem;
}

/* Override starlight theme's left position */
/* PageFrame Component */
.sidebar-pane {
	transition: left 0.3s ease-in-out;
}
.nav-toggle .sidebar-pane {
	left: var(--swagger-left);
}
#starlight__mobile-toc {
	position: relative;
	left: 0px;
	transition: left var(--transition);
}
.nav-toggle #starlight__mobile-toc {
	left: var(--swagger-left);
}