:root {
    --sl-font: 'Open Sans Variable', sans-serif;
	--sl-mobile-docs-height: 60px;
	--sl-nav-height: 4rem;
	--sb-color-accent-2: #097eb2;
	--sb-color-accent-4: #173647;
	--sb-color-neutral-1: #ffffff;
	--sb-color-neutral-2: #F8FAFB;
	--sb-color-neutral-14: #212529;
	--sb-mobile-menu-width: 300px;
	--transition: 0.3s ease-in-out;
}

/* Dark mode colors. */
:root {
	--sl-color-accent: #257821;
	--sl-color-accent-high: #b0d4ab;
	--sl-color-accent-low: #0e2d0b;
	--sl-color-black: var(--sb-color-neutral-14);
	--sl-color-gray-1: #e9f2e9;
	--sl-color-gray-2: #b9c6bb;
	--sl-color-gray-3: #7c927f;
	--sl-color-gray-4: #4a5e4d;
	--sl-color-gray-5: #2c3f2f;
	--sl-color-gray-6: #1a2e1e;
    --sl-color-gray-7: #152318;
	--sl-color-text-accent: var(--sb-color-accent-2);
	--sl-color-white: #ffffff;
	--sl-color-side-pane-bg: #2b3239;
	--sl-color-header-bg: #2b3239;

	/* Documentation sidebar colors */
	.sidebar-content a {
		--sl-color-text-accent: #5bd621;
		--sl-color-text-invert: var(--sb-color-neutral-14);
	}
	.sidebar-pane {
		background-color: #2b3239;
		@media (min-width: 50rem) {
			background-color: var(--sl-color-side-pane-bg);
		}
	}
	/* Pagination colors */
	.pagination-links a {
		border: none;
		&:hover {
			background-color: var(--sb-color-accent-2);
			color: var(--sb-color-neutral-1);
			.link-title {
				color: var(--sb-color-neutral-1);
			}
		}
	}
	/* Mobile TOC colors */
	mobile-starlight-toc nav {
		background-color: var(--sl-color-gray-7);
	}
	/* Mobile documentation menu */
	starlight-menu-button {
		background-color: var(--sl-color-gray-6);
		.menu-text {
			color: var(--sl-color-white);
		}
		button {
			background-color: var(--sl-color-gray-6) !important;
		}
	}
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c6e0c2;
	--sl-color-accent: #d8dde4;
	--sl-color-accent-high: hsl(116, 85%, 13%);
	--sl-color-gray-1: hsl(133, 28%, 14%);
	--sl-color-gray-2: var(--sb-color-neutral-14);
	--sl-color-gray-3: hsl(129, 12%, 33%);
	--sl-color-gray-4: hsl(128, 9%, 53%);
	--sl-color-gray-5: hsl(130, 10%, 75%);
	--sl-color-gray-6: #f0f3f5;
	--sl-color-gray-7: #f2f7f3;;
	--sl-color-black: #ffffff;
	--sl-color-text-accent: var(--sb-color-accent-2);
	--sl-color-white: var(--sb-color-accent-4);
	--sl-color-side-pane-bg: var(--sb-color-neutral-1);
	--sl-color-header-bg: var(--sb-color-neutral-2);

	--sl-shadow-md: 0 10px 20px -12px rgb(0 0 0 / 0.25);

	/* Documentation sidebar colors */
	.sidebar-content a {
		--sl-color-text-accent: #effbe9;
		--sl-color-text-invert: var(--sl-color-gray-2);
	}
	.sidebar-pane {
		background-color: var(--sb-color-neutral-1);
		top: calc(var(--sl-nav-height) + var(--sl-mobile-toc-height));
        @media (min-width: 50rem) {
            top: calc(var(--sl-nav-height));
        }
	}

	/* Mobile TOC colors */
	mobile-starlight-toc nav {
		background-color: var(--sb-color-neutral-2);
	}
}

/* Change focus style */
:focus-visible {
    outline: 2px solid hsl(127, 55.19%, 35.88%);
    border-radius: 0.25rem;
}

/* Sidebar pane */
.sidebar-pane {
	transition: left var(--transition);
}

/* Banners */
.starlight-aside .starlight-aside__title {
	color: var(--sb-color-neutral-14);
}
.starlight-aside--note {
	border-color: #5bd621;
	background-color: #effbe9; 
}
.starlight-aside--tip {
	border-color: #097eb2;
	background-color: #e6f2f7; 
}

/* Override starlight theme's left position */
.nav-toggle .sidebar-pane {
	left: var(--sb-mobile-menu-width);
}
mobile-starlight-toc nav {
	top: calc(var(--sl-nav-height) + var(--sl-mobile-docs-height) - 1px);
}
@media (min-width: 50rem) {
	mobile-starlight-toc nav {
		top: calc(var(--sl-nav-height) - 1px);
	}
}
#starlight__mobile-toc {
	position: relative;
	left: 0px;
	transition: left var(--transition);
}
.nav-toggle #starlight__mobile-toc {
	left: var(--sb-mobile-menu-width);
}

.sidebar-pane {
	top: calc(var(--sl-nav-height) + var(--sl-mobile-toc-height));
	@media (min-width: 50rem) {
		top: calc(var(--sl-nav-height));
	}
}

.main-frame {
	padding-top: calc(var(--sl-nav-height) + var(--sl-mobile-toc-height) + var(--sl-mobile-docs-height));
	@media (min-width: 50rem) {
		padding-top: calc(var(--sl-nav-height) + var(--sl-mobile-toc-height));
	}
}