:root {
    --sl-font: 'Open Sans Variable', sans-serif;
	--sl-mobile-docs-height: 60px;
	--sl-nav-height: 4rem;
	--sb-color-accent-1: #20B1FD;
	--sb-color-accent-2: #097eb2;
	--sb-color-accent-3: #00537C;
	--sb-color-accent-4: #173647;
	--sb-color-neutral-1: #ffffff;
	--sb-color-neutral-2: #F8FAFB;
	--sb-color-neutral-14: #212529;
	--sb-color-swagger-1: #85EA2D;
	--sb-color-swagger-2: #5bd621;
	--sb-mobile-menu-width: 300px;
	--transition: 0.3s ease-in-out;
}

/* Dark mode colors. */
:root[data-theme='dark']{
	--sl-color-accent: #257821;
	--sl-color-accent-high: #b0d4ab;
	--sl-color-accent-low: #0e2d0b;
	--sl-color-gray-1: #e9f2e9;
	--sl-color-gray-2: #b9c6bb;
	--sl-color-gray-3: #7c927f;
	--sl-color-gray-4: #4a5e4d;
	--sl-color-gray-5: #2c3f2f;
	--sl-color-gray-6: #1a2e1e;
    --sl-color-gray-7: #1a1d20;
	--sl-color-black: var(--sb-color-neutral-14);
	--sl-color-text-accent: var(--sb-color-accent-2);
	--sl-color-white: var(--sb-color-neutral-1);
	--sl-color-header-bg: #2b3239;
	--sl-color-code-bg: #1a1d20;
	--sb-nav-cta: var(--sb-color-accent-2);
}

/* Light Mode */
:root[data-theme='light'] {
	--sl-color-accent: #d8dde4;
	--sl-color-accent-high: #093d05;
	--sl-color-accent-low: #c6e0c2;
	--sl-color-gray-1: #1a2e1e;
	--sl-color-gray-2: var(--sb-color-neutral-14);
	--sl-color-gray-3: #4a5e4d;
	--sl-color-gray-4: #7c927f;
	--sl-color-gray-5: #b9c6bb;
	--sl-color-gray-6: #f0f3f5;
	--sl-color-gray-7: #f2f7f3;
	--sl-color-black: #ffffff;
	--sl-color-text-accent: var(--sb-color-accent-2);
	--sl-color-white: var(--sb-color-accent-4);
	--sl-color-header-bg: var(--sb-color-neutral-1);
	--sb-nav-cta: var(--sb-color-accent-2);

	--sl-shadow-md: 0 10px 20px -12px rgb(0 0 0 / 0.25);

	/* Documentation sidebar colors */
	.sidebar-content a {
		--sl-color-text-accent: #effbe9;
		--sl-color-text-invert: var(--sl-color-gray-2);
		&[aria-current=page] {
			border-left: 2px solid var(--sb-color-swagger-2);
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
	}
	.sidebar-pane {
		background-color: var(--sb-color-neutral-1);
		top: calc(var(--sl-nav-height) + var(--sl-mobile-toc-height));
        @media (min-width: 50rem) {
            top: calc(var(--sl-nav-height));
        }
	}

	/* Code background color */
	.expressive-code .frame {
		--code-background: #f2f7f3;
	}

	/* Link color */
	.sl-markdown-content a:not(:where(.not-content *)) {
		color: var(--sb-color-accent-2);
	}

	/* Mobile TOC colors */
	mobile-starlight-toc nav {
		background-color: var(--sb-color-neutral-1);
	}

	/* Banners */
	.starlight-aside .starlight-aside__title {
		color: var(--sb-color-neutral-14);
	}
	.starlight-aside--note {
		border-color: var(--sb-color-swagger-2);
		background-color: #effbe9; 
	}
	.starlight-aside--tip {
		border-color: var(--sb-color-accent-2);
		background-color: #e6f2f7; 
	}

	/* Mobile documentation menu */
	starlight-menu-button {
		background-color: var(--sl-color-gray-6);
		.menu-text {
			color: var(--sl-color-white);
		}
		button {
			background-color: var(--sl-color-gray-6) !important;
		}
	}
}

/* Dark Mode */
:root[data-theme=dark]{
	/* Code background color */
	.expressive-code .frame {
		--code-background: var(--sl-color-code-bg);
	}

	/* Link colors for dark mode */
	.sl-markdown-content a:not(:where(.not-content *)),
	.right-sidebar-panel a[aria-current=true] {
		color: var(--sb-color-accent-1);
	}

	/* Documentation sidebar colors */
	.sidebar-content a {
		--sl-color-text-accent: var(--sl-color-code-bg);
		--sl-color-text-invert: var(--sb-color-neutral-1);
		&[aria-current=page] {
			border-left: 2px solid var(--sb-color-swagger-2);
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
	}
	.sidebar-pane {
		background-color: var(--sl-color-header-bg);
	}

	/* Mobile TOC background */
	mobile-starlight-toc nav {
		background-color: #212529;
	}

	/* Banners */
	.starlight-aside .starlight-aside__title {
		color: var(--sl-color-white);
	}
	.starlight-aside--note,
	.starlight-aside--tip,
	.starlight-aside--caution,
	.starlight-aside--danger {
		background-color: var(--sl-color-code-bg); 
	}
	.starlight-aside--note {
		border-color: var(--sb-color-accent-2);
	}
	.starlight-aside--tip {
		border-color: var(--sb-color-swagger-2);
	}

	/* Mobile documentation menu */
	starlight-menu-button {
		background-color: var(--sl-color-code-bg);
		.menu-text {
			color: var(--sl-color-white);
		}
		button {
			background-color: var(--sl-color-code-bg) !important;
		}
	}
}

/* Make skip link visible */
.page {
	isolation: isolate;
}

/* Change focus style */
:focus-visible {
	outline: 1px solid var(--sb-color-accent-2);
	border-radius: 0.25rem;
}

/* Sidebar pane */
.sidebar-pane {
	transition: left var(--transition);
}

/* Override starlight theme's left position */
.nav-toggle .sidebar-pane {
	left: var(--sb-mobile-menu-width);
}

/* Table of contents */
mobile-starlight-toc nav {
	top: calc(var(--sl-nav-height) + var(--sl-mobile-docs-height) - 1px);
}
@media (min-width: 50rem) {
	mobile-starlight-toc nav {
		top: calc(var(--sl-nav-height) - 1px);
	}
}
#starlight__mobile-toc {
	position: relative;
	left: 0px;
	transition: left var(--transition);
}

/* Move TOC menu to left once Swagger nav menu opens */
.nav-toggle #starlight__mobile-toc {
	left: var(--sb-mobile-menu-width);
}

/* Top position of sidebar pane and main content*/
.sidebar-pane {
	top: calc(var(--sl-nav-height) + var(--sl-mobile-toc-height));
	@media (min-width: 50rem) {
		top: calc(var(--sl-nav-height));
	}
}
.main-frame {
	padding-top: calc(var(--sl-nav-height) + var(--sl-mobile-toc-height) + var(--sl-mobile-docs-height));
	@media (min-width: 50rem) {
		padding-top: calc(var(--sl-nav-height) + var(--sl-mobile-toc-height));
	}
}

/* Pagination colors */
.pagination-links a {
	border: none;
	&:hover {
		background-color: var(--sb-color-accent-2);
		color: var(--sb-color-neutral-1);
		.link-title {
			color: var(--sb-color-neutral-1);
		}
	}
}