:root {
    --sl-font: 'Open Sans', sans-serif;
	--sl-mobile-docs-height: 60px;
	--sl-nav-height: 4rem;
	--clr-accent-1: #20B1FD;
	--clr-accent-2: #097EB2;
	--clr-accent-3: #00537C;
	--clr-accent-4: #173647;
	--clr-accent-5: #112838;
	--clr-neutral-1: #FFFFFF;
	--clr-neutral-2: #F8FAFB;
	--clr-neutral-3: #F0F3F5;
	--clr-neutral-4: #E4EAF1;
	--clr-neutral-5: #DEE5ED;
	--clr-neutral-6: #D8DDE4;
	--clr-neutral-7: #C7D7E2;
	--clr-neutral-8: #AFC4CE;
	--clr-neutral-9: #8EADBF;
	--clr-neutral-10: #7E96A5;
	--clr-neutral-11: #566D7A;
	--clr-neutral-12: #3B505B;
	--clr-neutral-13: #173647;
	--clr-neutral-14: #212529;
	--swagger: #85EA2D;
	--swagger-dark: #5BD621;
	--black: #000000;
	--sb-mobile-menu-width: 300px;
	--transition: 0.3s ease-in-out;
}

/* Light Mode */
:root[data-theme='light'] {
	--sl-color-accent: #d8dde4;
	--sl-color-accent-high: #093d05;
	--sl-color-accent-low: #c6e0c2;
	--sl-color-gray-1: #1a2e1e;
	--sl-color-gray-2: var(--clr-neutral-14);
	--sl-color-gray-3: #4a5e4d;
	--sl-color-gray-4: #7c927f;
	--sl-color-gray-5: #b9c6bb;
	--sl-color-gray-6: #f0f3f5;
	--sl-color-gray-7: var(--clr-neutral-2);
	--sl-color-black: #ffffff;
	--sl-color-text-accent: var(--clr-accent-2);
	--sl-color-white: var(--clr-accent-4);
	--sl-color-header-bg: var(--clr-neutral-1);
	--sb-nav-cta: var(--clr-accent-2);

	--sl-shadow-md: 0 10px 20px -12px rgb(0 0 0 / 0.25);

	/* TOC Sidebar */
	.right-sidebar-panel a[aria-current=true] {
		background-color: var(--clr-neutral-3);
		border-left: 2px solid var(--clr-accent-2);
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		color: var(--clr-accent-4);
		font-weight: 600;
	}

	/* Documentation Sidebar */
	.sidebar-content a {
		--sl-color-text-accent: var(--clr-neutral-3);
		--sl-color-text-invert: var(--clr-accent-4);
		&[aria-current=page] {
			border-left: 2px solid var(--clr-accent-2);
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
	}
	.sidebar-pane {
		background-color: var(--clr-neutral-1);
		top: calc(var(--sl-nav-height) + var(--sl-mobile-toc-height));
        @media (min-width: 50rem) {
            top: calc(var(--sl-nav-height));
        }
	}

	/* Code background color */
	.expressive-code .frame {
		--code-background: #f2f7f3;
	}

	.expressive-code pre {
        border: 1px solid var(--sl-color-accent);
    }


	/* Link color */
	.sl-markdown-content a:not(:where(.not-content *)) {
		color: var(--clr-accent-2);
	}

	/* Mobile TOC colors */
	mobile-starlight-toc nav {
		background-color: var(--clr-neutral-1);
	}

	/* Banners */
	.starlight-aside .starlight-aside__title {
		color: var(--clr-neutral-14);
	}
	.starlight-aside--note {
		border-color: var(--swagger-dark);
		background-color: #effbe9; 
	}
	.starlight-aside--tip {
		border-color: var(--clr-accent-2);
		background-color: #e6f2f7; 
	}

	/* Mobile documentation menu */
	starlight-menu-button {
		background-color: var(--sl-color-gray-6);
		button {
			background-color: var(--sl-color-gray-6) !important;
		}
	}

	/* Next&prev buttons */
    .pagination-links 
    {
        a {
        box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.01), 0 0px 5px rgba(0, 0, 0, 0.06)
        }
    }

}

/* Dark Mode */
:root[data-theme=dark]{
	--sl-color-accent: #257821;
	--sl-color-accent-high: #b0d4ab;
	--sl-color-accent-low: #0e2d0b;
	--sl-color-gray-1: #e9f2e9;
	--sl-color-gray-2: #b9c6bb;
	--sl-color-gray-3: #7c927f;
	--sl-color-gray-4: #4a5e4d;
	--sl-color-gray-5: #2c3f2f;
	--sl-color-gray-6: #1a2e1e;
    --sl-color-gray-7: #1a1d20;
	--sl-color-black: var(--clr-neutral-14);
	--sl-color-text: var(--clr-neutral-9);
	--sl-color-text-accent: var(--clr-accent-2);
	--sl-color-white: var(--clr-neutral-1);
	--sl-color-header-bg: #2b3239;
	--sl-color-code-bg: #1a1d20;
	--sb-nav-cta: var(--clr-accent-2);

	/* Content panel */
	.content-panel {
		border-top: 1px solid var(--sl-color-header-bg);
	}

	/* Code background color */
	.expressive-code .frame {
		--code-background: var(--sl-color-code-bg);
	}

	.expressive-code pre {
        border: 1px solid var(--sl-color-header-bg);
    }

	/* Link colors for dark mode */
	.sl-markdown-content a:not(:where(.not-content *)) {
		color: var(--clr-accent-1);
	}

	/* TOC Sidebar */
	.right-sidebar {
		border-inline-start: 1px solid var(--sl-color-header-bg)
	}
	.right-sidebar-panel a {
		color: var(--clr-neutral-9);
	}
	.right-sidebar-panel a[aria-current=true] {
		background-color: var(--sl-color-code-bg);
		border-left: 2px solid var(--clr-accent-1);
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		color: var(--clr-neutral-1);
		font-weight: 600;
	}

	/* Documentation sidebar */
	.sidebar-content {
		a {
			--sl-color-text-accent: var(--sl-color-code-bg);
			color: var(--clr-neutral-9);
			&[aria-current=page] {
				border-left: 2px solid var(--clr-accent-1);
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				color: var(--clr-neutral-1);
			}
		}
		.large {
			color: var(--clr-neutral-9);
		}
	}
	.sidebar-pane {
		background-color: var(--sl-color-header-bg);
	}

	/* Mobile TOC background */
	mobile-starlight-toc nav {
		background-color: #212529;
	}

	/* Banners */
	.starlight-aside .starlight-aside__title {
		color: var(--sl-color-white);
	}
	.starlight-aside--note,
	.starlight-aside--tip,
	.starlight-aside--caution,
	.starlight-aside--danger {
		background-color: var(--sl-color-code-bg); 
	}
	.starlight-aside--note {
		border-color: var(--clr-accent-2);
	}
	.starlight-aside--tip {
		border-color: var(--swagger-dark);
	}

	/* Mobile documentation menu */
	starlight-menu-button {
		background-color: var(--sl-color-code-bg);
		button {
			background-color: var(--sl-color-code-bg) !important;
		}
	}
}

/* Make skip link visible */
.page {
	isolation: isolate;
}

/* Change focus style */
:focus-visible {
	outline: 1px solid var(--clr-accent-2);
	border-radius: 0.25rem;
}

/* Main */
main {
	padding: 0 !important;
}

/* Make content centered */
.sl-container {
	margin-inline: auto;
}

/* Sidebar pane */
.sidebar-pane {
	transition: left var(--transition);
}
starlight-menu-button {
	.menu-text {
		color: var(--sl-color-white);
	}
}
.sidebar-content .large {
	font-weight: 400;
	font-size: 0.875rem;
}

/* Right sidebar */
@media (min-width: 72rem) {
	.right-sidebar-container {
		border-inline-start: 1px solid var(--sl-color-gray-6);
		width: auto;
	}
	.right-sidebar {
		position: sticky;
		top: 65px;
		padding-top: 0px;
		padding-bottom: 10px;
		height: auto;
		border-inline-start: none;
	}
}

/* Override starlight theme's left position */
.nav-toggle .sidebar-pane {
	left: var(--sb-mobile-menu-width);
}

/* Table of contents */
mobile-starlight-toc nav {
	top: calc(var(--sl-nav-height) + var(--sl-mobile-docs-height) - 1px);
}
@media (min-width: 50rem) {
	mobile-starlight-toc nav {
		top: calc(var(--sl-nav-height) - 1px);
	}
}
#starlight__mobile-toc {
	position: relative;
	left: 0px;
	transition: left var(--transition);
	border-inline-start: 1px solid var(--sl-color-gray-6)
}

/* Move TOC menu to left once Swagger nav menu opens */
.nav-toggle #starlight__mobile-toc {
	left: var(--sb-mobile-menu-width);
}

/* Top position of sidebar pane and main content*/
.sidebar-pane {
	top: calc(var(--sl-nav-height) + var(--sl-mobile-toc-height));
	@media (min-width: 50rem) {
		top: calc(var(--sl-nav-height));
	}
}
.main-frame {
	flex: 1;
	padding-top: calc(var(--sl-nav-height) + var(--sl-mobile-toc-height) + var(--sl-mobile-docs-height));
	isolation: isolate;
	@media (min-width: 50rem) {
		padding-top: calc(var(--sl-nav-height) + var(--sl-mobile-toc-height));
	}
}
[data-has-sidebar][data-has-toc] .main-pane {
	width: 100%;
}

/* Hide dark/light theme selector in documentation nav */
.mobile-preferences {
	display: none;
}

/* Pagination colors */
.pagination-links a {
	border: none;
	&:hover {
		background-color: var(--clr-accent-2);
		color: var(--clr-neutral-1);
		.link-title {
			color: var(--clr-neutral-1);
		}
	}
}

/* Footer */
footer {
	margin-top: 0 !important;
}