---
import "../styles/custom.css";

const { variant, text, path } = Astro.props;

const buttonVariants: { [key: string]: string } = {
  default:
    "!text-[16px] dark:!text-[var(--clr-accent-1)] !text-[var(--clr-accent-2)] font-bold cursor-pointer no-underline ml-0 md:ml-2 lg:ml-0 xl:ml-2 flex items-center hover:underline",
  primary:
    "w-max !text-[16px] dark:!bg-[var(--clr-accent-1)] !bg-[var(--clr-accent-2)] !border-[var(--clr-accent-2)] !text-[var(--clr-neutral-1)] dark:!text-[var(--clr-neutral-14)]  bg-none cursor-pointer rounded px-[15px] py-[11px] text-base font-bold inline-block m-0 no-underline leading-none border border-solid border-transparent transition-all duration-200 ease-in-out hover:!bg-[var(--clr-accent-3)] hover:!border-[var(--clr-accent-3)] hover:text-white",

  // Add more variants as needed
};

const buttonClasses = buttonVariants[variant] || buttonVariants["default"];
---

<a href={path} class={buttonClasses}>
  <div class="!mt-0 flex items-center">
    <span class="button-content whitespace-nowrap justify-center flex">
      <slot />
    </span>
  </div>
</a>

<style is:inline>
  .button-content svg {
    fill: currentColor;
    margin-left: 10px;
  }

  @media (max-width: 575.98px) {
    .button-content svg {
      /* height: 16px; */
    }
  }
</style>
