---
import "../styles/custom.css";

const { variant, text, path, iconFontAwesome } = Astro.props;

const buttonVariants: { [key: string]: string } = {
  default:
    "!text-[16px] dark:!text-[var(--sb-color-accent-1)] !text-[var(--sb-color-accent-2)] font-bold cursor-pointer no-underline hover:underline ml-0 md:ml-2 lg:ml-0 xl:ml-2 flex items-center",
  primary:
    "w-max !text-[16px] dark:!bg-[var(--sb-color-accent-1)] !bg-[var(--sb-color-accent-2)] !border-[var(--sb-color-accent-2)] !text-[var(--sb-color-neutral-1)] dark:!text-[var(--sb-color-neutral-14)]  bg-none cursor-pointer rounded px-[15px] py-[11px] text-base font-bold inline-block m-0 no-underline leading-none border border-solid border-transparent transition-all duration-200 ease-in-out hover:!bg-[var(--sb-color-accent-3)] hover:!border-[var(--sb-color-accent-3)] hover:text-white",

  // Add more variants as needed
};

const buttonClasses = buttonVariants[variant] || buttonVariants["default"];
---

<a href={path} class={buttonClasses}>
  <div class="flex items-center">
    <span class="whitespace-nowrap">{text}</span>
    {
      iconFontAwesome && (
        <span class={`fa ${iconFontAwesome} pl-2 no-underline`} />
      )
    }
  </div>
</a>
