---
import ThemeSelect from '@astrojs/starlight/components/ThemeSelect.astro';
import type { Props } from '@astrojs/starlight/props';
import '@fortawesome/fontawesome-free/css/all.css';
import '@fontsource/monda';
---

<div class='nav-main mx-auto flex'>
    <div class='flex items-center w-full'>
        <a href='/' class='navbar-brand'>
            <svg
                xmlns='http://www.w3.org/2000/svg'
                xmlns:xlink='http://www.w3.org/1999/xlink'
                version='1.1'
                id='Layer_1'
                x='0px'
                y='0px'
                viewBox='0 0 408.77 117.64'
                style='enable-background:new 0 0 408.77 117.64;'
                xml:space='preserve'
                width='150px'
            >
                <style>
                    .text-color {
                        fill: var(--sl-color-text);
                    }
                    .st0 {
                        fill: #ffffff;
                    }
                    .st1 {
                        fill: #2c282c;
                    }
                    .st2 {
                        fill: #212529;
                    }
                    .st3 {
                        fill: #50e4ea;
                    }
                    .st4 {
                        fill: #fcdc00;
                    }
                    .st5 {
                        fill: #85ea2d;
                    }
                    .st6 {
                        fill: #f4cf14;
                    }
                    .st7 {
                        fill: none;
                    }
                    .st8 {
                        fill: #04aadb;
                    }
                    .st9 {
                        fill: #07ced6;
                    }
                    .st10 {
                        fill: #63db2a;
                    }
                    .st11 {
                        fill: #ff730b;
                    }
                    .st12 {
                        fill: #17d1fc;
                    }
                    .st13 {
                        fill: #00aadb;
                    }
                    .st14 {
                        fill: #758491;
                    }
                </style>
                <g>
                    <g>
                        <g>
                            <g>
                                <g>
                                    <rect
                                        x='356.885'
                                        y='66.115'
                                        class='st7'
                                        width='12.217'
                                        height='9.973'></rect>
                                    <path
                                        class='st2'
                                        d='M358.929,70.674h-0.7v-3.683h-1.26v-0.601h3.22v0.601h-1.26V70.674z'
                                    ></path>
                                    <path
                                        class='st2'
                                        d='M362.997,70.674l-1.242-3.577h-0.023c0.033,0.531,0.05,1.029,0.05,1.494v2.083h-0.636v-4.283h0.987       l1.189,3.407h0.018l1.225-3.407h0.99v4.283h-0.674v-2.118c0-0.213,0.005-0.49,0.016-0.832s0.02-0.549,0.028-0.621h-0.023       l-1.286,3.571H362.997z'
                                    ></path>
                                </g>
                            </g>
                        </g>
                    </g>
                    <g>
                        <g>
                            <g>
                                <g>
                                    <g>
                                        <path
                                            class='st5'
                                            d='M50.328,97.669c-26.27,0-47.643-21.371-47.643-47.642S24.058,2.385,50.328,2.385        s47.643,21.373,47.643,47.643S76.598,97.669,50.328,97.669z'
                                        ></path>
                                    </g>
                                    <g>
                                        <g>
                                            <path
                                                class='st2'
                                                d='M50.328,4.769c24.996,0,45.258,20.262,45.258,45.258c0,24.995-20.262,45.258-45.258,45.258         c-24.995,0-45.258-20.263-45.258-45.258C5.07,25.032,25.333,4.769,50.328,4.769 M50.328,0         C22.743,0,0.301,22.442,0.301,50.027s22.442,50.027,50.027,50.027c27.585,0,50.028-22.442,50.028-50.027S77.913,0,50.328,0         L50.328,0z'
                                            ></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                        <path
                            class='st2'
                            d='M31.802,33.854c-0.154,1.712,0.057,3.482-0.057,5.213c-0.135,1.732-0.347,3.444-0.693,5.156    c-0.481,2.443-2.001,4.29-4.097,5.829c4.079,2.655,4.54,6.771,4.809,10.946c0.135,2.251,0.077,4.521,0.308,6.752    c0.173,1.731,0.846,2.174,2.636,2.231c0.731,0.019,1.48,0,2.328,0v5.348c-5.29,0.904-9.657-0.596-10.735-5.078    c-0.347-1.635-0.578-3.309-0.654-5.002c-0.116-1.789,0.076-3.578-0.058-5.367c-0.385-4.906-1.02-6.56-5.713-6.791v-6.098    c0.346-0.077,0.673-0.135,1.019-0.173c2.578-0.135,3.674-0.924,4.232-3.463c0.27-1.423,0.424-2.866,0.481-4.328    c0.193-2.789,0.116-5.636,0.596-8.406c0.673-3.982,3.136-5.906,7.234-6.137c1.154-0.058,2.328,0,3.655,0v5.464    c-0.558,0.039-1.039,0.115-1.539,0.115C32.226,29.949,32.052,31.084,31.802,33.854z M38.208,46.512h-0.077    c-1.924-0.096-3.578,1.404-3.675,3.328c-0.096,1.943,1.404,3.598,3.328,3.693h0.231c1.905,0.116,3.539-1.347,3.655-3.251V50.09    C41.709,48.147,40.151,46.551,38.208,46.512z M50.27,46.512c-1.866-0.058-3.425,1.404-3.482,3.251c0,0.116,0,0.212,0.02,0.327    c0,2.097,1.423,3.444,3.578,3.444c2.116,0,3.444-1.385,3.444-3.559C53.81,47.878,52.405,46.493,50.27,46.512z M62.621,46.512    c-1.962-0.039-3.598,1.52-3.655,3.482c0,1.962,1.577,3.539,3.539,3.539h0.039c1.77,0.308,3.559-1.404,3.675-3.462    C66.314,48.166,64.583,46.512,62.621,46.512z M79.569,46.8c-2.232-0.096-3.348-0.846-3.905-2.963    c-0.347-1.346-0.558-2.751-0.635-4.136c-0.154-2.578-0.135-5.175-0.308-7.753c-0.404-6.117-4.828-8.252-11.254-7.195v5.31    c1.019,0,1.808,0,2.597,0.019c1.366,0.019,2.405,0.539,2.539,2.059c0.135,1.385,0.135,2.789,0.27,4.194    c0.27,2.79,0.423,5.617,0.904,8.368c0.424,2.27,1.982,3.963,3.924,5.348c-3.404,2.289-4.405,5.559-4.578,9.234    c-0.096,2.52-0.154,5.059-0.288,7.599c-0.116,2.308-0.923,3.058-3.251,3.116c-0.654,0.019-1.289,0.077-2.02,0.116v5.444    c1.366,0,2.616,0.077,3.866,0c3.886-0.231,6.233-2.116,7.003-5.887c0.327-2.078,0.519-4.174,0.577-6.271    c0.134-1.924,0.116-3.867,0.308-5.771c0.288-2.982,1.654-4.213,4.636-4.405c0.289-0.039,0.558-0.096,0.828-0.192v-6.099    C80.281,46.877,79.934,46.82,79.569,46.8z'
                        ></path>
                    </g>
                    <g>
                        <g>
                            <path
                                class='text-color'
                                d='M152.273,58.122c0,4.029-1.461,7.169-4.383,9.424c-2.922,2.254-6.888,3.381-11.897,3.381     c-5.427,0-9.602-0.699-12.523-2.098v-5.135c1.878,0.794,3.924,1.42,6.137,1.879c2.212,0.459,4.404,0.688,6.575,0.688     c3.548,0,6.22-0.673,8.015-2.02c1.795-1.346,2.692-3.219,2.692-5.62c0-1.586-0.318-2.885-0.955-3.898     c-0.637-1.012-1.702-1.946-3.194-2.802c-1.493-0.856-3.762-1.826-6.81-2.912c-4.258-1.523-7.3-3.329-9.126-5.417     c-1.827-2.087-2.74-4.811-2.74-8.171c0-3.527,1.325-6.335,3.976-8.422s6.157-3.131,10.52-3.131c4.55,0,8.735,0.835,12.555,2.505     l-1.66,4.634c-3.778-1.586-7.452-2.379-11.021-2.379c-2.818,0-5.021,0.606-6.606,1.816c-1.586,1.211-2.379,2.892-2.379,5.041     c0,1.586,0.292,2.886,0.876,3.897c0.584,1.013,1.57,1.941,2.959,2.787c1.388,0.845,3.511,1.779,6.371,2.802     c4.801,1.712,8.104,3.549,9.91,5.511C151.37,52.445,152.273,54.991,152.273,58.122z'
                            ></path>
                            <path
                                class='text-color'
                                d='M185.288,70.301l-6.293-20.132c-0.396-1.231-1.138-4.028-2.223-8.391h-0.25     c-0.835,3.653-1.565,6.471-2.192,8.453l-6.481,20.069h-6.011l-9.361-34.314h5.448c2.212,8.621,3.898,15.185,5.056,19.693     c1.159,4.508,1.821,7.545,1.988,9.11h0.25c0.229-1.189,0.6-2.729,1.111-4.618c0.511-1.889,0.955-3.386,1.331-4.493l6.293-19.693     h5.635l6.137,19.693c1.169,3.59,1.962,6.606,2.379,9.048h0.25c0.083-0.751,0.308-1.91,0.673-3.475     c0.365-1.565,2.541-9.988,6.528-25.266h5.385l-9.487,34.314H185.288z'
                            ></path>
                            <path
                                class='text-color'
                                d='M225.116,70.301l-1.033-4.884h-0.25c-1.712,2.15-3.418,3.606-5.119,4.368     c-1.702,0.762-3.825,1.143-6.372,1.143c-3.402,0-6.069-0.876-7.999-2.63c-1.931-1.753-2.896-4.247-2.896-7.482     c0-6.93,5.542-10.562,16.625-10.896l5.823-0.188v-2.129c0-2.692-0.579-4.681-1.738-5.964c-1.158-1.284-3.011-1.926-5.557-1.926     c-2.86,0-6.095,0.877-9.706,2.63l-1.597-3.977c1.691-0.918,3.543-1.638,5.558-2.16c2.014-0.521,4.033-0.782,6.058-0.782     c4.091,0,7.123,0.908,9.095,2.724c1.973,1.816,2.959,4.728,2.959,8.735v23.419H225.116z M213.375,66.638     c3.235,0,5.777-0.887,7.624-2.661c1.847-1.774,2.771-4.258,2.771-7.452v-3.1l-5.197,0.219c-4.133,0.146-7.113,0.788-8.939,1.925     c-1.827,1.138-2.74,2.907-2.74,5.307c0,1.878,0.569,3.309,1.707,4.289C209.737,66.148,211.329,66.638,213.375,66.638z'
                            ></path>
                            <path
                                class='text-color'
                                d='M264.598,35.987v3.287l-6.356,0.751c0.584,0.731,1.106,1.686,1.565,2.865c0.459,1.18,0.689,2.51,0.689,3.992     c0,3.36-1.148,6.042-3.444,8.046c-2.296,2.004-5.448,3.006-9.456,3.006c-1.023,0-1.983-0.083-2.88-0.25     c-2.213,1.169-3.319,2.641-3.319,4.414c0,0.939,0.386,1.634,1.159,2.082c0.772,0.449,2.098,0.673,3.976,0.673h6.074     c3.715,0,6.57,0.783,8.563,2.348s2.99,3.84,2.99,6.825c0,3.799-1.524,6.695-4.571,8.688s-7.494,2.99-13.337,2.99     c-4.488,0-7.948-0.835-10.379-2.505c-2.432-1.67-3.647-4.028-3.647-7.076c0-2.087,0.667-3.893,2.003-5.416s3.214-2.557,5.636-3.1     c-0.876-0.396-1.612-1.013-2.207-1.848c-0.595-0.834-0.893-1.805-0.893-2.912c0-1.252,0.334-2.348,1.002-3.288     c0.668-0.939,1.722-1.847,3.162-2.724c-1.774-0.73-3.22-1.973-4.336-3.726c-1.117-1.753-1.675-3.757-1.675-6.012     c0-3.757,1.127-6.653,3.381-8.688c2.254-2.035,5.448-3.053,9.581-3.053c1.795,0,3.413,0.209,4.853,0.626H264.598z      M237.234,76.062c0,1.857,0.783,3.267,2.348,4.228c1.565,0.959,3.809,1.439,6.731,1.439c4.362,0,7.592-0.652,9.69-1.956     c2.098-1.305,3.146-3.074,3.146-5.308c0-1.858-0.575-3.146-1.722-3.867c-1.148-0.72-3.309-1.08-6.481-1.08h-6.23     c-2.359,0-4.195,0.563-5.51,1.691C237.891,72.336,237.234,73.954,237.234,76.062z M240.051,46.976c0,2.4,0.678,4.216,2.035,5.448     c1.356,1.232,3.245,1.847,5.667,1.847c5.072,0,7.608-2.463,7.608-7.389c0-5.155-2.567-7.733-7.702-7.733     c-2.442,0-4.32,0.657-5.635,1.973C240.709,42.436,240.051,44.388,240.051,46.976z'
                            ></path>
                            <path
                                class='text-color'
                                d='M299.137,35.987v3.287l-6.356,0.751c0.584,0.731,1.106,1.686,1.565,2.865c0.459,1.18,0.689,2.51,0.689,3.992     c0,3.36-1.148,6.042-3.444,8.046c-2.296,2.004-5.448,3.006-9.456,3.006c-1.023,0-1.983-0.083-2.88-0.25     c-2.213,1.169-3.319,2.641-3.319,4.414c0,0.939,0.386,1.634,1.159,2.082c0.772,0.449,2.098,0.673,3.976,0.673h6.074     c3.715,0,6.57,0.783,8.563,2.348s2.99,3.84,2.99,6.825c0,3.799-1.524,6.695-4.571,8.688s-7.494,2.99-13.337,2.99     c-4.488,0-7.948-0.835-10.379-2.505c-2.432-1.67-3.647-4.028-3.647-7.076c0-2.087,0.667-3.893,2.003-5.416s3.214-2.557,5.636-3.1     c-0.876-0.396-1.612-1.013-2.207-1.848c-0.595-0.834-0.893-1.805-0.893-2.912c0-1.252,0.334-2.348,1.002-3.288     c0.668-0.939,1.722-1.847,3.162-2.724c-1.774-0.73-3.22-1.973-4.336-3.726c-1.117-1.753-1.675-3.757-1.675-6.012     c0-3.757,1.127-6.653,3.381-8.688c2.254-2.035,5.448-3.053,9.581-3.053c1.795,0,3.413,0.209,4.853,0.626H299.137z      M271.773,76.062c0,1.857,0.783,3.267,2.348,4.228c1.565,0.959,3.809,1.439,6.731,1.439c4.362,0,7.592-0.652,9.69-1.956     c2.098-1.305,3.146-3.074,3.146-5.308c0-1.858-0.575-3.146-1.722-3.867c-1.148-0.72-3.309-1.08-6.481-1.08h-6.23     c-2.359,0-4.195,0.563-5.51,1.691C272.43,72.336,271.773,73.954,271.773,76.062z M274.59,46.976c0,2.4,0.678,4.216,2.035,5.448     c1.356,1.232,3.245,1.847,5.667,1.847c5.072,0,7.608-2.463,7.608-7.389c0-5.155-2.567-7.733-7.702-7.733     c-2.442,0-4.32,0.657-5.635,1.973C275.248,42.436,274.59,44.388,274.59,46.976z'
                            ></path>
                            <path
                                class='text-color'
                                d='M316.778,70.927c-5.072,0-9.075-1.544-12.007-4.634c-2.933-3.089-4.399-7.378-4.399-12.868     c0-5.531,1.362-9.925,4.086-13.181c2.724-3.256,6.381-4.884,10.974-4.884c4.3,0,7.702,1.415,10.207,4.243     c2.505,2.828,3.757,6.559,3.757,11.192v3.288h-23.638c0.104,4.028,1.122,7.086,3.052,9.173c1.931,2.087,4.649,3.131,8.156,3.131     c3.694,0,7.347-0.772,10.958-2.317v4.634c-1.837,0.793-3.575,1.362-5.213,1.706C321.073,70.755,319.095,70.927,316.778,70.927z      M315.37,39.712c-2.755,0-4.952,0.897-6.591,2.692c-1.639,1.795-2.604,4.279-2.896,7.452h17.94c0-3.277-0.73-5.787-2.191-7.53     C320.17,40.584,318.083,39.712,315.37,39.712z'
                            ></path>
                            <path
                                class='text-color'
                                d='M350.898,35.36c1.523,0,2.891,0.125,4.102,0.375l-0.72,4.822c-1.42-0.313-2.672-0.469-3.757-0.469     c-2.776,0-5.15,1.127-7.123,3.381c-1.973,2.254-2.959,5.062-2.959,8.422v18.41h-5.197V35.987h4.29l0.595,6.355h0.25     c1.273-2.233,2.807-3.955,4.603-5.166C346.775,35.966,348.747,35.36,350.898,35.36z'
                            ></path>
                        </g>
                        <g>
                            <g>
                                <g>
                                    <g>
                                        <g>
                                            <g>
                                                <path
                                                    class='text-color'
                                                    d='M255.857,96.638c0,0-3.43-0.391-4.85-0.391c-2.058,0-3.111,0.735-3.111,2.18          c0,1.568,0.882,1.935,3.748,2.719c3.528,0.98,4.801,1.911,4.801,4.777c0,3.675-2.302,5.267-5.609,5.267          c-2.18,0-5.487-0.662-5.487-0.662l0.269-2.18c0,0,3.307,0.441,5.046,0.441c2.082,0,3.037-0.931,3.037-2.695          c0-1.421-0.759-1.911-3.332-2.523c-3.625-0.93-5.193-2.033-5.193-4.948c0-3.381,2.229-4.777,5.585-4.777          c2.131,0,5.316,0.587,5.316,0.587L255.857,96.638z'
                                                ></path>
                                            </g>
                                            <g>
                                                <path
                                                    class='text-color'
                                                    d='M262.967,94.14h4.728l3.748,13.105l3.748-13.105h4.752v16.78H277.2V96.418h-0.144l-4.191,13.816h-2.842          l-4.192-13.816h-0.145v14.502h-2.719V94.14z'
                                                ></path>
                                            </g>
                                            <g>
                                                <path
                                                    class='text-color'
                                                    d='M322.057,94.14h12.248v2.425h-4.728v14.355h-2.743V96.565h-4.777V94.14z'
                                                ></path>
                                            </g>
                                            <g>
                                                <path
                                                    class='text-color'
                                                    d='M346.137,94.14c3.332,0,5.12,1.249,5.12,4.36c0,2.033-0.637,3.037-1.984,3.772          c1.445,0.563,2.4,1.592,2.4,3.895c0,3.43-2.082,4.753-5.34,4.753h-6.566V94.14H346.137z M342.487,96.492v4.802h3.601          c1.666,0,2.4-0.833,2.4-2.475c0-1.616-0.833-2.327-2.498-2.327H342.487z M342.487,103.596v4.973h3.7          c1.69,0,2.694-0.539,2.694-2.548c0-1.911-1.421-2.425-2.743-2.425H342.487z'
                                                ></path>
                                            </g>
                                            <g>
                                                <path
                                                    class='text-color'
                                                    d='M358.414,94.14h10.583v2.376h-7.864v4.752h6.394v2.328h-6.394v4.924h7.864v2.4h-10.583V94.14z'
                                                ></path>
                                            </g>
                                            <g>
                                                <path
                                                    class='text-color'
                                                    d='M378.747,94.14h5.413l4.164,16.78h-2.743l-1.239-4.924h-5.777l-1.239,4.924h-2.719L378.747,94.14z           M379.108,103.596h4.707l-1.737-7.178h-1.225L379.108,103.596z'
                                                ></path>
                                            </g>
                                            <g>
                                                <path
                                                    class='text-color'
                                                    d='M397.096,105.947v4.973h-2.719V94.14h6.37c3.699,0,5.683,2.119,5.683,5.842          c0,2.376-0.955,4.52-2.743,5.352l2.768,5.585h-2.989l-2.425-4.973H397.096z M400.747,96.492h-3.65v7.105h3.7          c2.058,0,2.841-1.85,2.841-3.589C403.637,98.096,402.707,96.492,400.747,96.492z'
                                                ></path>
                                            </g>
                                            <g>
                                                <path
                                                    class='text-color'
                                                    d='M290.013,94.14h5.413l4.164,16.78h-2.743l-1.239-4.924h-5.777l-1.239,4.924h-2.719L290.013,94.14z           M290.374,103.596h4.707l-1.737-7.178h-1.225L290.374,103.596z'
                                                ></path>
                                            </g>
                                            <g>
                                                <path
                                                    class='text-color'
                                                    d='M308.362,105.947v4.973h-2.719V94.14h6.369c3.699,0,5.683,2.119,5.683,5.842          c0,2.376-0.955,4.52-2.743,5.352l2.768,5.585h-2.989l-2.425-4.973H308.362z M312.012,96.492h-3.65v7.105h3.699          c2.058,0,2.841-1.85,2.841-3.589C314.902,98.096,313.972,96.492,312.012,96.492z'
                                                ></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                                <g>
                                    <path
                                        class='text-color'
                                        d='M130.606,107.643c0,1.085-0.393,1.931-1.18,2.537s-1.854,0.91-3.202,0.91       c-1.461,0-2.584-0.188-3.371-0.564v-1.383c0.506,0.214,1.056,0.383,1.652,0.506c0.596,0.124,1.186,0.186,1.77,0.186       c0.955,0,1.674-0.181,2.158-0.544c0.483-0.362,0.725-0.866,0.725-1.512c0-0.428-0.086-0.777-0.257-1.05       s-0.458-0.523-0.859-0.754s-1.013-0.491-1.833-0.784c-1.146-0.41-1.965-0.896-2.457-1.458       c-0.491-0.562-0.737-1.294-0.737-2.199c0-0.949,0.357-1.705,1.07-2.267s1.657-0.843,2.832-0.843       c1.225,0,2.351,0.225,3.379,0.674l-0.447,1.247c-1.017-0.427-2.005-0.64-2.966-0.64c-0.758,0-1.351,0.163-1.778,0.488       c-0.427,0.326-0.64,0.778-0.64,1.356c0,0.428,0.079,0.777,0.236,1.05s0.423,0.522,0.796,0.75s0.945,0.479,1.715,0.754       c1.292,0.461,2.181,0.955,2.667,1.483C130.363,106.116,130.606,106.801,130.606,107.643z'
                                    ></path>
                                    <path
                                        class='text-color'
                                        d='M134.447,101.686v5.991c0,0.753,0.171,1.314,0.514,1.686c0.342,0.371,0.879,0.556,1.609,0.556       c0.966,0,1.673-0.264,2.12-0.792c0.446-0.527,0.67-1.391,0.67-2.587v-4.854h1.399v9.235h-1.155l-0.202-1.238h-0.076       c-0.287,0.455-0.684,0.803-1.192,1.045c-0.509,0.241-1.089,0.362-1.74,0.362c-1.124,0-1.965-0.267-2.524-0.801       c-0.559-0.533-0.839-1.388-0.839-2.562v-6.042H134.447z'
                                    ></path>
                                    <path
                                        class='text-color'
                                        d='M148.206,111.09c-0.601,0-1.15-0.111-1.647-0.333c-0.497-0.222-0.914-0.563-1.251-1.023h-0.101       c0.067,0.539,0.101,1.05,0.101,1.533v3.801h-1.398v-13.382h1.137l0.194,1.264h0.067c0.36-0.506,0.778-0.871,1.256-1.096       s1.025-0.337,1.643-0.337c1.225,0,2.17,0.419,2.836,1.256s0.999,2.011,0.999,3.522c0,1.517-0.338,2.695-1.016,3.535       C150.348,110.67,149.408,111.09,148.206,111.09z M148.004,102.706c-0.944,0-1.626,0.261-2.048,0.783s-0.638,1.354-0.649,2.494       v0.312c0,1.298,0.216,2.226,0.649,2.785c0.433,0.559,1.126,0.838,2.082,0.838c0.798,0,1.423-0.322,1.875-0.969       c0.452-0.646,0.679-1.536,0.679-2.671c0-1.152-0.227-2.035-0.679-2.65S148.824,102.706,148.004,102.706z'
                                    ></path>
                                    <path
                                        class='text-color'
                                        d='M159.04,111.09c-0.601,0-1.15-0.111-1.647-0.333c-0.497-0.222-0.914-0.563-1.251-1.023h-0.101       c0.067,0.539,0.101,1.05,0.101,1.533v3.801h-1.398v-13.382h1.137l0.194,1.264h0.067c0.36-0.506,0.778-0.871,1.256-1.096       s1.025-0.337,1.643-0.337c1.225,0,2.17,0.419,2.836,1.256s0.999,2.011,0.999,3.522c0,1.517-0.338,2.695-1.016,3.535       C161.182,110.67,160.242,111.09,159.04,111.09z M158.838,102.706c-0.944,0-1.626,0.261-2.048,0.783s-0.638,1.354-0.649,2.494       v0.312c0,1.298,0.216,2.226,0.649,2.785c0.433,0.559,1.126,0.838,2.082,0.838c0.798,0,1.423-0.322,1.875-0.969       c0.452-0.646,0.679-1.536,0.679-2.671c0-1.152-0.227-2.035-0.679-2.65S159.658,102.706,158.838,102.706z'
                                    ></path>
                                    <path
                                        class='text-color'
                                        d='M173.613,106.295c0,1.506-0.379,2.681-1.138,3.526c-0.758,0.846-1.806,1.269-3.143,1.269       c-0.826,0-1.559-0.194-2.2-0.582c-0.64-0.388-1.135-0.943-1.483-1.668c-0.349-0.725-0.522-1.573-0.522-2.545       c0-1.506,0.376-2.679,1.129-3.519s1.798-1.26,3.135-1.26c1.292,0,2.318,0.43,3.08,1.289       C173.233,103.666,173.613,104.829,173.613,106.295z M166.576,106.295c0,1.18,0.236,2.078,0.708,2.696       c0.472,0.618,1.166,0.927,2.082,0.927c0.916,0,1.611-0.308,2.085-0.923c0.475-0.614,0.712-1.515,0.712-2.7       c0-1.175-0.238-2.066-0.712-2.676s-1.175-0.914-2.103-0.914c-0.916,0-1.606,0.3-2.073,0.901S166.576,105.104,166.576,106.295z'
                                    ></path>
                                    <path
                                        class='text-color'
                                        d='M180.526,101.517c0.41,0,0.778,0.033,1.104,0.101l-0.194,1.298c-0.382-0.084-0.719-0.126-1.011-0.126       c-0.748,0-1.386,0.304-1.917,0.91c-0.531,0.606-0.796,1.362-0.796,2.267v4.955h-1.398v-9.235h1.154l0.16,1.71h0.067       c0.343-0.601,0.755-1.064,1.239-1.391C179.416,101.68,179.947,101.517,180.526,101.517z'
                                    ></path>
                                    <path
                                        class='text-color'
                                        d='M187.363,109.936c0.247,0,0.486-0.019,0.716-0.055c0.23-0.037,0.413-0.075,0.548-0.114v1.07       c-0.152,0.073-0.375,0.134-0.67,0.181c-0.295,0.048-0.561,0.072-0.796,0.072c-1.787,0-2.68-0.941-2.68-2.823v-5.494h-1.323       v-0.675l1.323-0.581l0.59-1.972h0.809v2.141h2.68v1.087h-2.68v5.436c0,0.556,0.132,0.982,0.396,1.28       C186.54,109.787,186.903,109.936,187.363,109.936z'
                                    ></path>
                                    <path
                                        class='text-color'
                                        d='M194.539,111.09c-1.365,0-2.442-0.416-3.231-1.247c-0.79-0.832-1.184-1.986-1.184-3.464       c0-1.488,0.366-2.671,1.1-3.548c0.733-0.876,1.718-1.314,2.954-1.314c1.157,0,2.073,0.381,2.747,1.142       c0.674,0.762,1.011,1.766,1.011,3.013v0.885h-6.362c0.028,1.085,0.302,1.907,0.822,2.47c0.52,0.562,1.251,0.843,2.195,0.843       c0.994,0,1.978-0.208,2.949-0.624v1.247c-0.494,0.214-0.962,0.367-1.403,0.459C195.694,111.044,195.162,111.09,194.539,111.09z        M194.16,102.688c-0.742,0-1.333,0.242-1.774,0.726c-0.441,0.482-0.701,1.151-0.78,2.005h4.829c0-0.882-0.196-1.558-0.59-2.026       C195.452,102.923,194.89,102.688,194.16,102.688z'
                                    ></path>
                                    <path
                                        class='text-color'
                                        d='M206.951,109.683h-0.076c-0.646,0.938-1.612,1.407-2.899,1.407c-1.208,0-2.147-0.413-2.819-1.239       c-0.671-0.825-1.007-2-1.007-3.522s0.337-2.705,1.011-3.548c0.674-0.843,1.612-1.264,2.814-1.264       c1.253,0,2.213,0.455,2.882,1.365h0.109l-0.059-0.666l-0.034-0.648v-3.759h1.399v13.112h-1.138L206.951,109.683z        M204.154,109.919c0.955,0,1.647-0.26,2.077-0.779s0.645-1.358,0.645-2.516v-0.295c0-1.309-0.218-2.242-0.653-2.802       c-0.436-0.559-1.131-0.839-2.086-0.839c-0.82,0-1.448,0.319-1.883,0.957c-0.436,0.638-0.653,1.538-0.653,2.701       c0,1.18,0.216,2.07,0.649,2.671C202.682,109.619,203.317,109.919,204.154,109.919z'
                                    ></path>
                                    <path
                                        class='text-color'
                                        d='M220.713,101.534c1.214,0,2.156,0.415,2.828,1.243c0.671,0.829,1.007,2.001,1.007,3.519       c0,1.517-0.338,2.695-1.016,3.535c-0.677,0.84-1.617,1.26-2.819,1.26c-0.601,0-1.15-0.111-1.647-0.333       c-0.497-0.222-0.914-0.563-1.251-1.023h-0.101l-0.295,1.188h-1.002V97.809h1.398v3.186c0,0.714-0.022,1.354-0.067,1.921h0.067       C218.465,101.995,219.432,101.534,220.713,101.534z M220.51,102.706c-0.955,0-1.643,0.273-2.064,0.821       s-0.632,1.471-0.632,2.769s0.216,2.226,0.649,2.785c0.433,0.559,1.126,0.838,2.082,0.838c0.86,0,1.5-0.312,1.921-0.939       c0.421-0.626,0.632-1.526,0.632-2.7c0-1.203-0.211-2.099-0.632-2.688S221.392,102.706,220.51,102.706z'
                                    ></path>
                                    <path
                                        class='text-color'
                                        d='M225.759,101.686h1.5l2.022,5.267c0.443,1.202,0.719,2.07,0.826,2.604h0.067       c0.073-0.286,0.226-0.776,0.459-1.471c0.233-0.693,0.996-2.827,2.288-6.399h1.5l-3.969,10.517       c-0.394,1.039-0.853,1.776-1.378,2.212c-0.525,0.436-1.17,0.653-1.934,0.653c-0.427,0-0.849-0.048-1.264-0.144v-1.121       c0.309,0.068,0.654,0.102,1.037,0.102c0.96,0,1.646-0.539,2.056-1.618l0.514-1.314L225.759,101.686z'
                                    ></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </a>
        <ul class='nav flex w-full list-none p-0'>
            <li class='nav-item dropdown'>
                <a
                    class='nav-link dropdown-toggle flex item-center px-4 py-2'
                    data-toggle='dropdown'
                    data-display='static'
                    href='#'
                    role='button'
                    aria-haspopup='true'
                    aria-expanded='false'
                    >Why Swagger?<i class='pl-2 pt-1 fa-solid fa-chevron-down'
                    ></i></a
                >
                <div class='dropdown-menu menu-single'>
                    <div class='dropdown-mega row'>
                        <div class='container'>
                            <div class='col-12'>
                                <div class='d-flex flex-column'>
                                    <a
                                        class='item'
                                        href='https://swagger.io/solutions/api-design/'
                                        title='API Design'
                                        ><span
                                            class='pr-2 inline-block align-middle'
                                        >
                                            <img
                                                class='h-7'
                                                src='https://swagger.io/swagger/assets/images/SW_Menu1_1_CLR.svg'
                                            />
                                        </span><span class='link-underline'
                                            >API Design</span
                                        ></a
                                    >
                                    <a
                                        class='item'
                                        href='https://swagger.io/solutions/api-development'
                                        title='API Development'
                                        ><span
                                            class='pr-2 inline-block align-middle'
                                        >
                                            <img
                                                class='h-7'
                                                src='https://swagger.io/swagger/assets/images/SW_Menu1_2_CLR.svg'
                                            />
                                        </span><span class='link-underline'
                                            >API Development</span
                                        ></a
                                    >
                                    <a
                                        class='item'
                                        href='https://swagger.io/solutions/api-documentation/'
                                        title='API Documentation'
                                        ><span
                                            class='pr-2 inline-block align-middle'
                                        >
                                            <img
                                                class='h-7'
                                                src='https://swagger.io/swagger/assets/images/SW_Menu1_3_CLR.svg'
                                            />
                                        </span><span class='link-underline'
                                            >API Documentation</span
                                        ></a
                                    >
                                    <a
                                        class='item'
                                        href='https://swagger.io/solutions/api-testing/'
                                        title='API Testing'
                                        ><span
                                            class='pr-2 inline-block align-middle'
                                        >
                                            <img
                                                class='h-7'
                                                src='https://swagger.io/swagger/assets/images/SW_Menu1_4_CLR.svg'
                                            />
                                        </span><span class='link-underline'
                                            >API Testing</span
                                        ></a
                                    >
                                    <a
                                        class='item'
                                        href='https://swagger.io/solutions/mocking-and-virtualization/'
                                        title='API Mocking and Virtualization'
                                        ><span
                                            class='pr-2 inline-block align-middle'
                                        >
                                            <img
                                                class='h-7'
                                                src='https://swagger.io/swagger/assets/images/SW_Menu1_5_CLR.svg'
                                            />
                                        </span><span class='link-underline'
                                            >API Mocking and Virtualization</span
                                        ></a
                                    >
                                    <a
                                        class='item'
                                        href='https://swagger.io/solutions/governance-and-standardization'
                                        title='API Governance'
                                        ><span
                                            class='pr-2 inline-block align-middle'
                                        >
                                            <img
                                                class='h-7'
                                                src='https://swagger.io/swagger/assets/images/SW_Menu1_6_CLR.svg'
                                            />
                                        </span><span class='link-underline'
                                            >API Governance</span
                                        ></a
                                    >
                                    <a
                                        class='item'
                                        href='https://swagger.io/solutions/api-monitoring/'
                                        title='API Monitoring'
                                        ><span
                                            class='pr-2 inline-block align-middle'
                                        >
                                            <img
                                                class='h-7'
                                                src='https://swagger.io/swagger/assets/images/SW_Menu1_7_CLR.svg'
                                            />
                                        </span><span class='link-underline'
                                            >API Monitoring</span
                                        ></a
                                    >
                                    <a
                                        class='item'
                                        href='https://swagger.io/solutions/getting-started-with-oas/'
                                        title='OpenAPI & Swagger'
                                        ><span
                                            class='pr-2 inline-block align-middle'
                                        >
                                            <img
                                                class='h-7'
                                                src='https://swagger.io/swagger/assets/images/SW_Menu1_8_CLR.svg'
                                            />
                                        </span><span class='link-underline'
                                            >OpenAPI &amp; Swagger</span
                                        ></a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class='nav-item dropdown'>
                <a
                    class='nav-link dropdown-toggle flex item-center px-4 py-2'
                    data-toggle='dropdown'
                    data-display='static'
                    href='#'
                    role='button'
                    aria-haspopup='true'
                    aria-expanded='false'
                    >Tools<i class='pl-2 pt-1 fa-solid fa-chevron-down'></i></a
                >
                <div class='dropdown-menu menu-double'>
                    <div class='dropdown-mega row'>
                        <div class='container'>
                            <!-- Nav tabs -->
                            <ul
                                class='nav nav-tabs list-none p-0'
                                role='tablist'
                            >
                                <li>
                                    <a
                                        href='#proDocumentation'
                                        aria-controls='proDocumentation'
                                        role='tab'
                                        data-toggle='tab'
                                        class='active'
                                    >
                                        <p
                                            class='header-tools txt-clr-accent-4 font-monda text-xs uppercase'
                                            >Pro</p
                                        >
                                    </a>
                                </li>
                                <li>
                                    <a
                                        href='#openSource'
                                        aria-controls='openSource'
                                        role='tab'
                                        data-toggle='tab'
                                    >
                                        <p
                                            class='header-tools txt-clr-accent-4 font-monda text-xs uppercase'
                                            >Open Source</p
                                        >
                                    </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class='tab-content'>
                                <div
                                    role='tabpanel'
                                    class='tab-pane active xl:pl-4 grow basis-0'
                                    id='proDocumentation'
                                >
                                    <a
                                        href='https://swagger.io/tools/swaggerhub/'
                                        class='item-main-wrapper'
                                        ><span class='item-main link-underline'
                                            >SwaggerHub</span
                                        >
                                        <p class='content'
                                            >Accelerate API development with
                                            quality and consistency across
                                            OpenAPI and AsyncAPI.</p
                                        >
                                    </a>
                                    <ul
                                        class='p-0 mt--2 mb-4 list-none'
                                        role='list'
                                    >
                                        <li class='mb-2'>
                                            <a
                                                href='https://swagger.io/tools/swaggerhub/features/swaggerhub-portal/'
                                                aria-label='Developer Portal - Improve API discoverability'
                                            >
                                                <i
                                                    class='text-primary fas fa-level-up-alt fa-rotate-90 ml-1 text-sm'
                                                    aria-hidden='true'></i>
                                                <span
                                                    class='text-dark font-semibold ml-2 link-underline text-sm'
                                                    >Developer Portal</span
                                                >
                                                <span
                                                    class='block txt-clr-neutral-12 ml-6 text-xs'
                                                    >Improve API discoverability
                                                    and developer experience in
                                                    a fully customizable
                                                    portal.&nbsp;</span
                                                >
                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                href='https://swagger.io/tools/swaggerhub-explore/'
                                                aria-label='Exploration - Evaluate the functionality of any API instantly'
                                            >
                                                <i
                                                    class='text-primary fas fa-level-up-alt fa-rotate-90 ml-1 text-xs'
                                                    aria-hidden='true'></i>
                                                <span
                                                    class='text-dark font-semibold ml-2 link-underline text-sm'
                                                    >Exploration</span
                                                >
                                                <span
                                                    class='block txt-clr-neutral-12 ml-6 text-xs'
                                                    >Evaluate the functionality
                                                    of any API instantly,
                                                    regardless of protocol.</span
                                                >
                                            </a>
                                        </li>
                                    </ul>
                                    <a
                                        href='https://swagger.io/tools/swaggerhub/enterprise/'
                                        class='item-main-wrapper'
                                        ><span class='item-main link-underline'
                                            >SwaggerHub Enterprise</span
                                        >
                                        <p class='content'>
                                            Standardize your APIs with projects,
                                            style checks, and reusable domains.
                                        </p>
                                    </a>
                                </div>
                                <div
                                    role='tabpanel'
                                    class='tab-pane xl:pl-10 grow basis-0'
                                    id='openSource'
                                >
                                    <a
                                        href='https://swagger.io/tools/swagger-codegen/'
                                        class='item-main-wrapper'
                                        ><span class='item-main link-underline'
                                            >Swagger Codegen</span
                                        >
                                        <p class='content'>
                                            Generate server stubs and client
                                            SDKs from OpenAPI Specification
                                            definitions
                                        </p>
                                    </a>
                                    <a
                                        href='https://swagger.io/tools/swagger-editor/'
                                        class='item-main-wrapper'
                                        ><span class='item-main link-underline'
                                            >Swagger Editor</span
                                        >
                                        <p class='content'>
                                            API editor for designing APIs with
                                            the OpenAPI and AsyncAPI
                                            specifications.
                                        </p>
                                    </a>
                                    <a
                                        href='https://swagger.io/tools/swagger-ui/'
                                        class='item-main-wrapper'
                                        ><span class='item-main link-underline'
                                            >Swagger UI</span
                                        >
                                        <p class='content'>
                                            Visualize OpenAPI Specification
                                            definitions in an interactive UI.
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class='dropdown-menu-bottom-cta text-white bg-green small py-1 mt--4 m-lg-0'
                    >
                        <a class='py-1' href='https://swagger.io/tools'
                            ><span class='font-bold link-underline'
                                >Explore all tools</span
                            ><i class='pl-2 fa-solid fa-chevron-right'></i></a
                        >
                    </div>
                </div>
            </li>
            <li class='nav-item dropdown'>
                <a
                    class='nav-link dropdown-toggle flex item-center px-4 py-2'
                    data-toggle='dropdown'
                    data-display='static'
                    href='#'
                    role='button'
                    aria-haspopup='true'
                    aria-expanded='false'
                    >Resources<i class='pl-2 pt-1 fa-solid fa-chevron-down'
                    ></i></a
                >
                <div class='dropdown-menu menu-single'>
                    <div class='dropdown-mega row'>
                        <div class='container'>
                            <div class='col-12'>
                                <div class='item-main-wrapper'>
                                    <a
                                        href='https://swagger.io/resources/'
                                        class='item-main'
                                        ><span class='link-underline'
                                            >Resources</span
                                        ></a
                                    >
                                </div>
                                <div class='d-flex flex-column pt-3'>
                                    <a
                                        class='item'
                                        href='https://swagger.io/resources/open-api/'
                                        title='OpenAPI Specification'
                                        ><span
                                            class='pr-2 inline-block align-middle'
                                        >
                                            <img
                                                class='h-7'
                                                src='https://swagger.io/swagger/assets/images/SW_Menu3_1_CLR.svg'
                                            />
                                        </span><span class='link-underline'
                                            >OpenAPI Specification</span
                                        ></a
                                    >
                                    <a
                                        class='item'
                                        href='https://swagger.io/docs/'
                                        title='Docs'
                                        ><span
                                            class='pr-2 inline-block align-middle'
                                        >
                                            <img
                                                class='h-7'
                                                src='https://swagger.io/swagger/assets/images/SW_Menu3_2_CLR.svg'
                                            />
                                        </span><span class='link-underline'
                                            >Docs</span
                                        ></a
                                    >
                                    <a
                                        class='item'
                                        href='https://swagger.io/blog/'
                                        title='Blog'
                                        ><span
                                            class='pr-2 inline-block align-middle'
                                        >
                                            <img
                                                class='h-7'
                                                src='https://swagger.io/swagger/assets/images/SW_Menu3_3_CLR.svg'
                                            />
                                        </span><span class='link-underline'
                                            >Blog</span
                                        ></a
                                    >
                                    <a
                                        class='item'
                                        href='https://swagger.io/support/'
                                        title='Support'
                                        ><span
                                            class='pr-2 inline-block align-middle'
                                        >
                                            <img
                                                class='h-7'
                                                src='https://swagger.io/swagger/assets/images/SW_Menu3_4_CLR.svg'
                                            />
                                        </span><span class='link-underline'
                                            >Support</span
                                        ></a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class='nav-item nav-theme-select h-[58px] xl:h-auto border-t-1 border-[#ddd] border-solid xl:ml-5 order-2'>
                <ThemeSelect {...Astro.props} />
            </li>
            <li class='nav-item nav-item-search xl:border-b-0'>
                <a
                    class='header-search-ico sb-search-ico text-center p-[14px] xl:p-0'
                    href='#'><i class='fal fa-search'></i></a
                >
            </li>
            <li class='nav-item nav-item-login'>
                <a
                    href='https://app.swaggerhub.com/login?channel=direct'
                    class='block py-2 px-5'
                    >Sign In</a
                >
            </li>
            <li class='nav-item nav-item-free-trial'>
                <a
                    class='block py-2 px-5'
                    href='https://swagger.io/tools/swaggerhub/why-swaggerhub'>Try Free</a
                >
            </li>
        </ul>
        <div class='nav-main-toggle'>
            <div class='hamburger'></div>
        </div>
    </div>
</div>

<style is:inline>
    .header {
        --sl-nav-height: 4.0625rem;
        --sl-nav-pad-x: 0.9375rem;
        --sl-nav-pad-y: 0rem;
        display: flex;
        align-items: center;
        background-color: var(--sl-color-header-bg);
        box-shadow: 0 0 10px -5px rgba(23,54,71,.5);
        transition: left var(--transition);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
        & a {
            text-decoration: none;
            color: inherit;
        }
        .nav-item-search a::after {
            display: none !important;
        }
    }

    .nav-toggle {
        .header {
            left: var(--sb-mobile-menu-width);
        }
    }

    .nav-item-search {
        display: flex !important;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        order: 1;
    }

    starlight-theme-select {
        label {
            height: 100%;
            & .label-icon {
                left: 0.625rem;
            }
            & .caret {
                right: 0.625rem;
            }
        }
    }

    .icon.label-icon + select {
        height: 100%;
        width: 100%;
        padding-block: 0.5rem;
        padding-inline: calc(var(--sl-label-icon-size) + 0.75rem)
            calc(var(--sl-caret-size) + 0.25rem);
        @media (min-width: 80rem) {
            width: var(--sl-select-width);
        }
    }
    .dropdown {
        position: relative;
    }
    .dropdown-menu {
        background-clip: padding-box;
        background-color: var(--sl-color-black);;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
        color: var(--sl-color-gray-1);
        display: none;
        font-size: 1rem;
        float: left;
        left: 0;
        list-style: none;
        margin: 0.125rem 0 0;
        min-width: 10rem;
        padding: 20px;
        position: absolute;
        text-align: left;
        top: 160%;
        z-index: 1000;
        &.show {
            display: block;
        }
    }

    .nav-main .dropdown-menu .item,
    .nav-main .dropdown-menu .tabbed-resource-cards .item-checked,
    .nav-main .dropdown-menu .tabbed-resource-cards .item-header,
    .tabbed-resource-cards .nav-main .dropdown-menu .item-checked,
    .tabbed-resource-cards .nav-main .dropdown-menu .item-header {
        color: var(--sl-color-gray-1);
        cursor: pointer;
        display: block;
        font-size: 14px;
        position: relative;
        padding: 10px 34px 5px 0;
        white-space: nowrap;
    }
    html.nav-toggle {
        overflow: hidden;
    }

    .font-monda {
        font-family: 'Monda', sans-serif;
    }

    .nav-main {
        display: flex;
        height: 65px;
        margin-top: 0;
        transition: all var(--transition);
        width: 100%;
        z-index: 999;

        .nav {
            flex-grow: 1;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                width: 0;
                background: 0 0;
                display: none;
            }
            &::-webkit-scrollbar-thumb {
                background: 0 0;
                display: none;
            }
        }

        .navbar-brand {
            display: inline-block;
            margin-right: 2rem;
            position: relative;
            left: 0px;
            transition: left var(--transition);
            
            img {
                height: 50px;
                max-width: auto;
            }
        }

        .dropdown-menu {
            border: 1px solid #ddd;
            float: none;
            margin: 0;
            top: 75px !important;
            transition: margin var(--transition);
            &.menu-double {
                background: linear-gradient(to right, var(--sl-color-black) 50%, var(--sl-color-gray-7) 50%);
                svg {
                    position: absolute;
                }
            }
            a {
                display: block;
            }
            p {
                margin: 0;
            }
            .dropdown-menu-bottom-cta {
                font-size: 0.825rem;
                text-align: center;
                background-color: var(--sb-color-accent-2);
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                position: absolute;
                width: 700px;
                left: -1px;
                bottom: -20px;
                border: 1px solid;
                border-top-style: none;
                border-color: #ddd;
                & a {
                    color: #fff;
                }
            }
        }
    }

    [data-theme=dark] .nav-main .dropdown-menu {
        border-width: 2px;
        border-color: #2b3239;
        &::before {
            border-color: #2b3239;
        }
        .dropdown-menu-bottom-cta {
            border-color: #2b3239;
            left: -2px;
        }
    }

    .nav-main .dropdown-menu .header-tools {
        font-weight: 700;
        margin-bottom: 6px;
    }

    .nav-main .dropdown-menu .item-main {
        color: var(--sl-color-gray-1);
        font-size: 18px;
        font-weight: 600;
    }

    .nav-main .dropdown-menu .item-icon {
        height: 30px;
        width: auto;
    }

    .nav-main .dropdown-menu .content {
        color: var(--sl-color-gray-2);
        font-size: 12px;
        padding: 5px 0 20px;
    }

    .nav-main {
        nav {
            align-items: center;
            display: flex;
            height: 65px;
            justify-content: space-between;
            width: 100%;
        }
        .nav-tabs {
            -ms-overflow-style: none;
            border: none;
            display: flex;
            height: auto !important;
            position: static !important;
            &::-webkit-scrollbar {
                width: 0;
                background: 0 0;
                display: none;
            }
            &::-webkit-scrollbar-thumb {
                background: 0 0;
                display: none;
            }
            a {
                height: 100%;
                padding-bottom: 1px;
                &:active,
                &:focus,
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .nav-main a:active .link-underline,
    .nav-main a:focus .link-underline,
    .nav-main a:hover .link-underline {
        text-decoration: underline;
    }

    .nav-main .btn-nav {
        margin-left: 20px;
    }

    .nav-main .nav-link {
        background-color: transparent;
        color: var(--sl-color-gray-1);
        white-space: nowrap;
    }

    .nav-toggle .nav-main .nav {
        left: 0 !important;
    }

    .nav-main-toggle {
        display: none;
    }

    .nav-item-login {
        order: 3;
        border: 1px solid var(--sb-color-accent-3);
        border-radius: 0.25rem;
        color: var(--sl-color-white);
        margin-left: 1.25rem;
        &:hover {
            color: var(--sl-color-black);
            background: var(--sb-color-accent-3);
        }
    }
    
    [data-theme=dark] .nav-item-login {
        border: 1px solid var(--sb-color-swagger-2);
        &:hover {
            background: var(--sb-color-swagger-2);
            color: var(--sl-color-black);
        }
    }

    .nav-item-free-trial {
        color: var(--sb-color-neutral-1);
        order: 3;
        border-radius: 0.25rem;
        background: var(--sb-color-accent-2);
        margin-left: 1.25rem;
        &:hover {
            border-color: var(--sb-color-accent-3);
            background: var(--sb-color-accent-3);
        }
    }

    [data-theme=dark] .nav-item-free-trial {
        background: var(--sb-color-swagger-1);
        color: var(--sb-color-neutral-14);
        &:hover {
            background: var(--sb-color-swagger-2);
        }
    }

    .nav-spacer {
        height: 65px;
        background-color: transparent;
        width: 100%;
    }

    .has-secondary .nav-spacer {
        height: 130px;
    }

    /* Starlight hamburger */
    starlight-menu-button button {
        --sl-menu-button-size: 2.8125rem;
        svg {
            --sl-icon-size: 2em !important;
        }
    }

    @media (min-width: 1280px) {
        .nav-main .dropdown-menu {
            box-shadow: 0 0 10px -5px #17364780;
            padding: 20px;
        }

        .nav-main .dropdown-menu:before {
            content: '';
            background-color: var(--sl-color-black);;
            border-left: 1px solid #ddd;
            border-top: 1px solid #ddd;
            display: block;
            height: 18px;
            left: 40px;
            position: absolute;
            top: -10px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            width: 18px;
            z-index: -1;
        }

        .nav-main .dropdown-menu.menu-double {
            width: 700px;
        }

        .nav-main .nav-tabs a {
            pointer-events: none;
        }

        .nav-main .nav-tabs li {
            padding: 0 30px 0 15px;
        }

        .nav-main .nav-tabs li + li {
            padding-left: 288px;
        }

        .nav-main .tab-content {
            display: flex;
        }

        .nav-main .tab-pane {
            display: block !important;
        }

        .nav-main .btn-nav {
            margin-top: 5px;
        }

        .nav-main .nav-item-search .nav-link {
            padding: 10px 0 0 0;
        }
    }

    @media (max-width: 1279px) {
        body > :not([id*='wistia-']) {
            left: 0;
            position: relative;
            top: -30px;
            transition: left var(--transition);
        }

        body.nav-toggle {
            height: 100%;
            overflow: hidden;
        }

        body.nav-toggle > * {
            left: var(--sb-mobile-menu-width);
            position: relative;
            transition: left var(--transition);
        }

        .nav-main .dropdown-menu .item,
        .nav-main .dropdown-menu .tabbed-resource-cards .item-checked,
        .nav-main .dropdown-menu .tabbed-resource-cards .item-header,
        .tabbed-resource-cards .nav-main .dropdown-menu .item-checked,
        .tabbed-resource-cards .nav-main .dropdown-menu .item-header {
            font-size: 13px;
        }
        .nav-main .dropdown-toggle:after {
            font-size: 18px;
            left: auto;
            position: absolute;
            right: 40px;
            top: 15px;
        }
        .nav-main .nav .show .dropdown-mega {
            background-color: var(--sl-color-black);
            box-shadow: 0 0 10px -8px #000 inset;
            margin: 0;
            padding: 20px;
        }
        .nav-main .nav-tabs {
            background-color: var(--sl-color-black);
            width: 100%;
            margin: auto;
        }

        .nav-main .nav-tabs li {
            width: 50%;
        }

        .nav-main .nav-tabs li a {
            border-bottom: 2px solid #ddd;
        }

        .nav-main .nav-tabs li a .header-tools {
            font-weight: 400;
        }

        .nav-main .nav-tabs li a.active,
        .nav-main .nav-tabs li a:hover {
            border-bottom: 2px solid #63db2a;
        }

        .nav-main .nav-tabs li a.active .header-tools,
        .nav-main .nav-tabs li a:hover .header-tools {
            font-weight: 700;
        }

        .nav-main .nav-tabs svg {
            height: 27px;
        }

        .nav-main .tab-pane {
            display: none;
            &.active {
                display: block;
            }
        }
        .nav-main .dropdown-menu {
            box-shadow: 0 0 10px -5px rgba(23, 54, 71, 0.5);
            padding: 20px;
        }
        .nav-main .dropdown-menu {
            border-radius: 0;
            border-width: 1px 0 0 0;
            max-width: 100% !important;
            padding: 0;
            position: static !important;
            width: auto;
            .dropdown-menu-bottom-cta {
                position: static;
                width: 100%;
                margin: 0;
                border-radius: 0;
            }
        }
        .nav-main .btn-nav {
            color: #173647;
            background-color: transparent;
            border: none;
        }

        .nav-main .btn-nav:active,
        .nav-main .btn-nav:hover {
            color: #fff !important;
        }
        .nav-main .nav:not(.nav-tabs) {
            background-color: var(--sl-color-black);
            border-right: 1px solid #ddd;
            display: block;
            height: 100%;
            left: calc(-1 * var(--sb-mobile-menu-width));
            margin-top: 0 !important;
            overflow-x: scroll;
            padding-top: 0;
            position: fixed;
            top: 0;
            transition: left var(--transition);
            width: var(--sb-mobile-menu-width);
            z-index: 999;
        }
        
        [data-theme=dark] .nav-main .nav:not(.nav-tabs) {
            border-right: 1px solid #2b3239;
        }

        .nav-main .nav:not(.nav-tabs) > li {
            min-height: 60px;
        }

        .nav-toggle .nav-main .nav:not(.nav-tabs) {
            box-shadow: 0 0 10px -8px #000 inset;
            left: 0;
        }

        .nav-main .nav-item {
            border-top: 1px solid #dddddd;
            display: block;
        }

        [data-theme=dark] .nav-main .nav-item {
            border-top: 1px solid #2b3239;
        }

        [data-theme=dark] .nav-main .dropdown-menu {
            border-width: 0px;
        }

        .nav-item-login {
            border-radius: 0;
        }

        [date-theme=dark] .nav-item-login {

        }

        .nav-item-free-trial {
            background: var(--sl-color-black);
            border-radius: 0;
            color: var(--sl-color-white);
            &:hover {
                color: var(--sl-color-black);
            }
        }

        [data-theme=dark] .nav-item-free-trial {
            background: transparent;
            color: var(--sl-color-white);
            &:hover {
                background: var(--sb-color-swagger-2);
                color: var(--sl-color-black);
            }
        }

        .nav-main .nav-item-free-trial,
        .nav-main .nav-item-login,
        .nav-main .nav-item-search {
            display: table;
            height: 60px;
            border-bottom: 1px solid #dddddd;
        }

        [data-theme=dark] {
            .nav-main .nav-item-free-trial,
            .nav-main .nav-item-login,
            .nav-main .nav-item-search {
                border-bottom: 1px solid #2b3239;
            }
        }

        .nav-main .nav-item-free-trial a,
        .nav-main .nav-item-login a,
        .nav-main .nav-item-search a {
            border-radius: 0;
            display: table-cell;
            vertical-align: middle;
        }

        .nav-main .nav-item-free-trial {
            width: 45%;
        }

        .nav-main .nav-item-login {
            float: left;
            margin: 0 !important;
            position: static;
            width: 40%;
        }

        .nav-item-search {
            width: 15%;
            float: left;    
            border-bottom: 1px solid #2b3239;
            &:hover {
                background: var(--sl-color-gray-6);
            }
        }
        
        .nav-item-login,
        .nav-item-free-trial {
            border-left: 1px solid #dddddd;
            border-right: 0;
            a {
                text-align: center;
            }
        }

        [data-theme=dark] .nav-item-login,
        [data-theme=dark] .nav-item-free-trial {
            border-left: 1px solid #2b3239;
            border-right: 0;
        }

        .nav-main .nav-item-search {
            float: left;
            width: 15%;
        }

        .nav-main .nav-item-search .nav-link {
            padding: 0;
        }
        .nav-main .nav-link {
            padding: 15px;
        }

        .nav-main .nav-link:hover {
            background-color: var(--sl-color-gray-6);
        }
        .nav-spacer {
            height: 60px;
        }

        .has-secondary .nav-spacer {
            height: 120px;
        }
        .nav-main-toggle {
            display: block;
            height: 60px;
            padding-left: 10px;
            padding-top: 23px;
            position: fixed;
            right: 0;
            transition: left var(--transition);
            width: 60px;

            .hamburger {
                background-color: var(--sl-color-gray-1);
                height: 2px;
                left: 15px;
                position: absolute;
                top: 29px;
                transition: background-color var(--transition);
                width: 30px;
                &::after,
                &::before {
                    content: '';
                    background-color: var(--sl-color-gray-1);
                    display: block;
                    height: 2px;
                    left: 0;
                    position: absolute;
                    -webkit-transform: rotate(0);
                    transform: rotate(0);
                    -webkit-transform-origin: center left;
                    transform-origin: center left;
                    transition:
                        width var(--transition),
                        left var(--transition),
                        top var(--transition),
                        -webkit-transform var(--transition);
                    transition:
                        transform var(--transition),
                        width var(--transition),
                        left var(--transition),
                        top var(--transition);
                    transition:
                        transform var(--transition),
                        width var(--transition),
                        left var(--transition),
                        top var(--transition),
                        -webkit-transform var(--transition);
                    width: 30px;
                }
                &::after {
                    top: 8px;
                }
                &::before {
                    top: -8px;
                }
            }
        }
        
        .nav-toggle .nav-main-toggle .hamburger {
            background-color: transparent;
            &::after {
                left: 5px;
                top: 11px;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            &::before {
                left: 5px;
                top: -10px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }

    @media (max-width: 649px) {
        .nav-main {
            .nav {
                left: -650px !important;
                width: 100% !important;
                &:not(.nav-tabs) {
                    margin-top: 65px !important;
                    padding-top: 0;
                }
            }
            .navbar-brand {
                position: fixed;
                left: 10px;
                background: var(--sl-color-header-bg);
                width: 300px;
                height: 65px;
                display: flex;
                margin-left: -10px;
                padding-left: 10px;
            }
        }
    }
</style>

<script client:only>
    // Search icon
    (function (w, d) {
        function initSearch() {
            var config = {
                locations: [
                    'Swagger_Website',
                    'Swagger_Documentation',
                    'Community',
                    'Swagger_Blog',
                ],
                availableProducts: [
                    'SwaggerHub',
                    'Swagger Inspector',
                    'Swagger Editor',
                    'Swagger Codegen',
                    'Swagger UI',
                    'Swagger Open Source Tools',
                    'OAS',
                ],
            };
            w.sbSearch.init(config);
        }

        var s = document.createElement('script');
        s.src =
            'https://static' +
            (w.location.href.indexOf('stag') == -1 ? 1 : 0) +
            '.smartbear.co/smartbear/react/search/search.js?t=' +
            Math.random();
        s.async = true;
        s.onreadystatechange = function () {
            if (this.readyState == 'complete' || this.readyState == 'loaded') {
                initSearch();
            }
        };
        s.onload = initSearch;
        d.body.appendChild(s);
    })(window, document);

    // Check if small screen
    let mobileScreen = window.matchMedia('(max-width: 1279px)');

    // Show/Hide hamburger icon
    mobileScreen.addEventListener('change', showHideHamburgerIcon);
    mobileScreen.addEventListener('change', () => {
        (!mobileScreen.matches && document.documentElement.classList.contains('nav-toggle')) 
        && document.querySelector('.nav-main-toggle')?.click();
    });

    function showHideHamburgerIcon() {
        mobileScreen.matches ? 
            document.querySelector('.nav-main-toggle').style.display = 'block' : 
            document.querySelector('.nav-main-toggle').style.display = 'none';
    }

    // Hamburger menu
    document.querySelector('.nav-main-toggle')
        .addEventListener('click', function () {
            document.body.classList.toggle('nav-toggle');
            document.documentElement.classList.toggle('nav-toggle');
        });

    const navSecondaryToggle = document.querySelector('.nav-secondary-toggle');
    if (navSecondaryToggle) {
        navSecondaryToggle.addEventListener('click', function () {
            this.closest('.nav-secondary').classList.toggle('active');
        });
    }
    
    // Open clicked dropdown and close other dropdowns
    const dropdowns = document.querySelectorAll('.dropdown');
    dropdowns.forEach((dropdown) => {
        dropdown.addEventListener('click', event => {
            const currentDropdown = event.target
                .closest('.dropdown')
                .querySelector('.dropdown-menu')
                .classList;
            if (currentDropdown.contains('show')) {
                currentDropdown.remove('show')
            } else {
                closeDropdown();
                currentDropdown.add('show');
            }
        });
    });

    // Close Dropdown When Clicked/Escaped Outside Of The Element
    document.addEventListener('click', event => {
        (mobileScreen.matches === false && event.target.closest('.dropdown') === null) && closeDropdown();
    });
    document.addEventListener('keydown', (event) => {
        (mobileScreen.matches === false && event.key === 'Escape') && closeDropdown();
    });

    function closeDropdown () {
        const dropdowns = document.querySelectorAll('.dropdown-menu');
        dropdowns.forEach((dropdown) => {
            dropdown.classList.remove('show');
        });
    };

    // Tools nav panes
    const navTabs = document.querySelectorAll('.nav-tabs a');
    const navPanes = document.querySelectorAll('.tab-pane');

    toggleTabs();
    
    function toggleTabs() {
        navTabs.forEach((tab) => {
            tab.addEventListener('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                navTabs.forEach((tab) => {
                    tab.classList.remove('active');
                });
                navPanes.forEach((pane) => {
                    pane.classList.remove('active');
                });
                this.classList.add('active');
                document
                    .querySelector(this.getAttribute('href'))
                    .classList.add('active');
            });
        });
    }
</script>
