---

import ThemeSelect from '@astrojs/starlight/components/ThemeSelect.astro';
import type { Props } from '@astrojs/starlight/props';

---

<div>
    I'm a header
    <ThemeSelect {...Astro.props} />
</div>