---
import HomeBox from "./HomeBox.astro";
---

<section class="relative overflow-hidden">
  <div class="max-w-[1400px] mx-auto flex flex-wrap">
    <div class="w-full md:w-1/2 content-center x!mt-[86px]">
      <div>
        <div
          class="relative container w--800 mx-auto h-[175px] content-center pl-[40px]"
        >
          <div
            class="absolute h-[175px] w-[50vw] hidden md:block bg-no-repeat bg-contain left-0 md:-left-28 2xl:left-0 homepage-bubbles"
            style="background-image: url(/hero-bubbles.svg);"
          >
          </div>
          <h2
            class="font-roboto text-center md:text-left dark:!text-[var(--sb-color-neutral-1)] !text-[var(--sb-color-accent-4)] font-bold !text-[24px] sm:!text-[28.75px] md:!text-[33.5px] lg:!text-[33.5px] xl:!text-[38.25px] 2xl:pl-[0px] xl:pl-[26px] pl-[26px] pr-[33px] lg:!mt-[60px] md:!mt-[40px] !leading-[45px]"
          >
            Swagger Documentation
          </h2>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/2 !mt-[45px]">
      <img
        src="/hero-img.png"
        alt="Swagger Documentation Example"
        class="w-full h-auto"
      />
    </div>
  </div>
</section>
<section class="max-w-[1400px] mx-auto">
  <div class="grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
    <HomeBox
      title="OpenAPI Specification"
      description="A standard format for defining APIs, ensuring structured and consistent endpoints, methods, parameters, and responses."
      buttonTitle="View Docs"
      optionalText="View on Github"
      iconPath="/path/to/icon.svg"
      path="https://swagger.io/docs/specification/about/"
      optionalPath="https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md"
      iconFontAwesome="fa-external-link"
    />

    <HomeBox
      title="SwaggerHub"
      description="A comprehensive and collaborative platform for designing, documenting, and managing APIs across the API lifecycle."
      buttonTitle="View Docs"
      optionalText="Try Free"
      iconPath="/path/to/icon.svg"
      path="https://support.smartbear.com/swaggerhub/docs/"
      optionalPath="https://app.swaggerhub.com/start-trial"
      iconFontAwesome="fa-long-arrow-right"
    />
  </div>

  <div
    class="md:!mt-[75px] grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
  >
    <HomeBox
      title="Swagger Editor"
      description="A user-friendly tool for creating, editing, and visualizing API definitions, streamlining the validation of API documentation."
      buttonTitle="View Docs"
      optionalText="Download"
      iconPath="/path/to/icon.svg"
      path="https://swagger.io/docs/open-source-tools/swagger-editor/"
      optionalPath="https://swagger.io/tools/swagger-editor/download/"
      iconFontAwesome="fa-download"
    />

    <HomeBox
      title="Swagger UI"
      description="An interactive interface for exploring and testing APIs, making it easy to visualize and understand their functionality."
      buttonTitle="View Docs"
      optionalText="Download"
      iconPath="/path/to/icon.svg"
      path="https://swagger.io/docs/open-source-tools/swagger-ui/usage/"
      optionalPath="https://swagger.io/tools/swagger-ui/download/"
      iconFontAwesome="fa-download"
    />

    <HomeBox
      title="Swagger CodeGen"
      description="Automate the generation of client libraries, server stubs, and API documentation efficiently based on API definitions."
      buttonTitle="View Docs"
      optionalText="Download"
      iconPath="/path/to/icon.svg"
      path="https://swagger.io/docs/open-source-tools/swagger-codegen/"
      optionalPath="https://swagger.io/tools/swagger-codegen/download"
      iconFontAwesome="fa-download"
    />
  </div>
</section>

<section
  class="dark:!bg-[#1A1D20] !bg-[var(--sb-color-neutral-2)] py-12 !mt-24"
>
  <div class="max-w-[1400px] mx-auto">
    <div class="mx-auto text-center">
      <img
        src="/smartbear-logo.svg"
        alt="SmartBear Logo"
        class="mx-auto mb-4 !block dark:!hidden"
      />
      <img
        src="/smartbear-logo-white.svg"
        alt="SmartBear Logo"
        class="mx-auto mb-4 !hidden dark:!block"
      />
      <h3
        class="font-bold !text-[var(--clr-accent-4) !text-[22px] sm:!text-[28px] md:!text-[28px] lg:!text-[28px] xl:!text-[36px] xl:px-80 lg:px-48 md:px-36 sm:px-24 px-12"
      >
        SmartBear is committed to open source development. Create more with us.
      </h3>
    </div>
    <div class="!mt-12 grid gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
      <HomeBox
        title="SmartBear Community"
        description="Join the SmartBear Community to discuss products, share best practices, ask questions, and get support from peers and experts."
        buttonTitle="Learn More"
        path="https://community.smartbear.com/"
        alternative
      />

      <HomeBox
        title="SmartBear Academy"
        description="Access training and resources to improve your skills and efficiency with SmartBear's testing and development tools."
        buttonTitle="Learn more"
        path="https://smartbear.com/academy/"
        alternative
      />
    </div>
  </div>
</section>

<style>
  @media (min-width: 1440px) {
    .homepage-bubbles {
      left: -9rem;
    }
  }
  @media (min-width: 1560px) {
    .homepage-bubbles {
      left: -9rem;
    }
  }
</style>
