---
import { getImage } from "astro:assets";
import footerBackground from "../assets/swagger-footer-image.png";
const optimizedBackgroundImage = await getImage({
  src: footerBackground,
  quality: 75,
});
---

<div
  class="swagger_footer isolate relative z-[2]"
  style={`background-image: url(${optimizedBackgroundImage.src});background-size: cover; background-position: center;background-repeat:no-repeat;`}
>
  <div class="container mx-auto pt-[60px] pb-[50px] sm:px-4">
    <div>
      <div class="mb-5 w-[150px]">
        <svg
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          viewBox="0 0 408.766 117.636"
          style="enable-background:new 0 0 408.766 117.636;"
          xml:space="preserve"
        >
          <style type="text/css">
            .sfl0 {
              fill: #fcdc00;
            }
            .sfl1 {
              fill: #173647;
            }
            .sfl2 {
              fill: #ffffff;
            }
            .sfl3 {
              fill: #2c282c;
            }
            .sfl4 {
              fill: #f4cf14;
            }
            .sfl5 {
              fill: #63db2a;
            }
            .sfl6 {
              fill: #50e4ea;
            }
            .sfl7 {
              fill: #07ced6;
            }
            .sfl8 {
              fill: #85ea2d;
            }
            .sfl9 {
              fill: #04aadb;
            }
            .sfl10 {
              fill: #ff730b;
            }
            .sfl11 {
              fill: #17d1fc;
            }
          </style>
          <g>
            <g>
              <g>
                <g>
                  <g>
                    <g>
                      <path
                        class="sfl2"
                        d="M50.328,5.124c24.996,0,45.258,20.262,45.258,45.258c0,24.995-20.262,45.258-45.258,45.258
                            c-24.995,0-45.258-20.263-45.258-45.258C5.07,25.386,25.333,5.124,50.328,5.124 M50.328,0.354
                            c-27.585,0-50.027,22.442-50.027,50.027s22.442,50.027,50.027,50.027c27.585,0,50.028-22.442,50.028-50.027
                            S77.913,0.354,50.328,0.354L50.328,0.354z"
                      ></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
            <path
              class="sfl2"
              d="M31.802,34.208c-0.154,1.712,0.057,3.482-0.057,5.213c-0.135,1.732-0.347,3.444-0.693,5.156
        c-0.481,2.443-2.001,4.29-4.097,5.829c4.079,2.655,4.54,6.771,4.809,10.946c0.135,2.251,0.077,4.521,0.308,6.752
        c0.173,1.731,0.846,2.174,2.636,2.231c0.731,0.019,1.48,0,2.328,0v5.348c-5.29,0.904-9.657-0.596-10.735-5.078
        c-0.347-1.635-0.578-3.309-0.654-5.002c-0.116-1.789,0.076-3.578-0.058-5.367c-0.385-4.906-1.02-6.56-5.713-6.791v-6.098
        c0.346-0.077,0.673-0.135,1.019-0.173c2.578-0.135,3.674-0.924,4.232-3.463c0.27-1.423,0.424-2.866,0.481-4.328
        c0.193-2.789,0.116-5.636,0.596-8.406c0.673-3.982,3.136-5.906,7.234-6.137c1.154-0.058,2.328,0,3.655,0v5.464
        c-0.558,0.039-1.039,0.115-1.539,0.115C32.226,30.303,32.052,31.438,31.802,34.208z M38.208,46.866h-0.077
        c-1.924-0.096-3.578,1.404-3.675,3.328c-0.096,1.943,1.404,3.598,3.328,3.693h0.231c1.905,0.116,3.539-1.347,3.655-3.251v-0.193
        C41.709,48.501,40.151,46.905,38.208,46.866z M50.27,46.866c-1.866-0.058-3.425,1.404-3.482,3.251c0,0.116,0,0.212,0.02,0.327
        c0,2.097,1.423,3.444,3.578,3.444c2.116,0,3.444-1.385,3.444-3.559C53.81,48.232,52.405,46.847,50.27,46.866z M62.621,46.866
        c-1.962-0.039-3.598,1.52-3.655,3.482c0,1.962,1.577,3.539,3.539,3.539h0.039c1.77,0.308,3.559-1.404,3.675-3.462
        C66.314,48.52,64.583,46.866,62.621,46.866z M79.569,47.154c-2.232-0.096-3.348-0.846-3.905-2.963
        c-0.347-1.346-0.558-2.751-0.635-4.136c-0.154-2.578-0.135-5.175-0.308-7.753c-0.404-6.117-4.828-8.252-11.254-7.195v5.31
        c1.019,0,1.808,0,2.597,0.019c1.366,0.019,2.405,0.539,2.539,2.059c0.135,1.385,0.135,2.789,0.27,4.194
        c0.27,2.79,0.423,5.617,0.904,8.368c0.424,2.27,1.982,3.963,3.924,5.348c-3.404,2.289-4.405,5.559-4.578,9.234
        c-0.096,2.52-0.154,5.059-0.288,7.599c-0.116,2.308-0.923,3.058-3.251,3.116c-0.654,0.019-1.289,0.077-2.02,0.116v5.444
        c1.366,0,2.616,0.077,3.866,0c3.886-0.231,6.233-2.116,7.003-5.887c0.327-2.078,0.519-4.174,0.577-6.271
        c0.134-1.924,0.116-3.867,0.308-5.771c0.288-2.982,1.654-4.213,4.636-4.405c0.289-0.039,0.558-0.096,0.828-0.192v-6.099
        C80.281,47.232,79.934,47.174,79.569,47.154z"
            ></path>
          </g>
          <g>
            <g>
              <path
                class="sfl2"
                d="M152.273,58.476c0,4.029-1.461,7.17-4.383,9.424c-2.922,2.254-6.888,3.381-11.897,3.381
            c-5.427,0-9.602-0.699-12.523-2.098v-5.135c1.878,0.793,3.924,1.419,6.137,1.878c2.212,0.459,4.404,0.689,6.575,0.689
            c3.548,0,6.22-0.673,8.015-2.02c1.795-1.346,2.692-3.22,2.692-5.62c0-1.586-0.318-2.885-0.955-3.898
            c-0.637-1.012-1.702-1.946-3.194-2.802c-1.493-0.855-3.762-1.826-6.81-2.912c-4.258-1.523-7.3-3.329-9.126-5.417
            c-1.827-2.087-2.74-4.811-2.74-8.171c0-3.527,1.325-6.335,3.976-8.422c2.651-2.087,6.157-3.131,10.52-3.131
            c4.55,0,8.735,0.835,12.555,2.505l-1.66,4.634c-3.778-1.586-7.452-2.38-11.021-2.38c-2.818,0-5.021,0.606-6.606,1.816
            c-1.586,1.211-2.379,2.892-2.379,5.041c0,1.586,0.292,2.886,0.876,3.898c0.584,1.013,1.57,1.941,2.959,2.787
            c1.388,0.845,3.511,1.779,6.371,2.802c4.801,1.712,8.104,3.549,9.91,5.511C151.37,52.799,152.273,55.345,152.273,58.476z"
              ></path>
              <path
                class="sfl2"
                d="M185.289,70.655l-6.293-20.131c-0.396-1.231-1.138-4.028-2.223-8.391h-0.25
            c-0.835,3.653-1.565,6.471-2.192,8.454l-6.481,20.069h-6.011l-9.361-34.314h5.448c2.212,8.621,3.898,15.185,5.056,19.693
            c1.159,4.508,1.821,7.545,1.988,9.111h0.25c0.229-1.19,0.6-2.729,1.111-4.618c0.511-1.889,0.955-3.386,1.331-4.493l6.293-19.693
            h5.635l6.137,19.693c1.169,3.59,1.962,6.606,2.379,9.048h0.25c0.083-0.751,0.308-1.91,0.673-3.476
            c0.365-1.565,2.541-9.987,6.528-25.266h5.385l-9.487,34.314H185.289z"
              ></path>
              <path
                class="sfl2"
                d="M225.116,70.655l-1.033-4.884h-0.251c-1.712,2.15-3.418,3.606-5.119,4.368s-3.825,1.143-6.371,1.143
            c-3.402,0-6.069-0.877-7.999-2.63c-1.931-1.753-2.896-4.248-2.896-7.483c0-6.93,5.542-10.562,16.625-10.896l5.823-0.188v-2.129
            c0-2.693-0.579-4.681-1.737-5.964s-3.011-1.926-5.558-1.926c-2.859,0-6.095,0.877-9.706,2.63l-1.596-3.976
            c1.691-0.918,3.542-1.638,5.557-2.16c2.014-0.521,4.033-0.783,6.059-0.783c4.091,0,7.123,0.908,9.095,2.724
            c1.973,1.816,2.959,4.728,2.959,8.735v23.419H225.116z M213.375,66.992c3.235,0,5.776-0.887,7.624-2.661
            c1.847-1.774,2.771-4.258,2.771-7.452v-3.1l-5.197,0.219c-4.133,0.146-7.112,0.788-8.938,1.925
            c-1.827,1.138-2.74,2.907-2.74,5.307c0,1.878,0.569,3.309,1.707,4.289C209.737,66.502,211.329,66.992,213.375,66.992z"
              ></path>
              <path
                class="sfl2"
                d="M264.598,36.341v3.287l-6.355,0.751c0.584,0.731,1.105,1.686,1.565,2.865c0.459,1.18,0.688,2.51,0.688,3.992
            c0,3.361-1.148,6.042-3.443,8.046c-2.297,2.004-5.448,3.005-9.456,3.005c-1.022,0-1.983-0.083-2.88-0.25
            c-2.213,1.169-3.319,2.641-3.319,4.415c0,0.939,0.387,1.633,1.159,2.082c0.771,0.449,2.098,0.673,3.976,0.673h6.074
            c3.715,0,6.569,0.783,8.563,2.348s2.99,3.84,2.99,6.826c0,3.798-1.523,6.695-4.571,8.688c-3.047,1.993-7.493,2.99-13.337,2.99
            c-4.488,0-7.948-0.835-10.379-2.505c-2.433-1.67-3.647-4.028-3.647-7.076c0-2.087,0.667-3.893,2.003-5.417s3.215-2.557,5.636-3.1
            c-0.876-0.396-1.612-1.012-2.207-1.847s-0.893-1.805-0.893-2.912c0-1.252,0.334-2.348,1.002-3.287
            c0.668-0.939,1.723-1.847,3.162-2.724c-1.774-0.73-3.22-1.972-4.336-3.726c-1.117-1.753-1.675-3.757-1.675-6.011
            c0-3.757,1.127-6.653,3.381-8.688c2.255-2.035,5.448-3.053,9.581-3.053c1.795,0,3.412,0.209,4.853,0.626H264.598z M237.233,76.416
            c0,1.857,0.783,3.267,2.349,4.228c1.565,0.959,3.809,1.439,6.731,1.439c4.362,0,7.592-0.652,9.69-1.956
            c2.098-1.305,3.146-3.074,3.146-5.308c0-1.858-0.575-3.146-1.723-3.867c-1.147-0.72-3.309-1.08-6.48-1.08h-6.23
            c-2.359,0-4.195,0.563-5.511,1.691C237.892,72.69,237.233,74.307,237.233,76.416z M240.052,47.33c0,2.4,0.678,4.216,2.035,5.448
            c1.356,1.232,3.245,1.847,5.667,1.847c5.071,0,7.607-2.462,7.607-7.389c0-5.155-2.567-7.733-7.702-7.733
            c-2.441,0-4.32,0.657-5.635,1.973C240.709,42.79,240.052,44.742,240.052,47.33z"
              ></path>
              <path
                class="sfl2"
                d="M299.137,36.341v3.287l-6.355,0.751c0.584,0.731,1.105,1.686,1.565,2.865c0.459,1.18,0.688,2.51,0.688,3.992
            c0,3.361-1.148,6.042-3.443,8.046c-2.297,2.004-5.448,3.005-9.456,3.005c-1.022,0-1.983-0.083-2.88-0.25
            c-2.213,1.169-3.319,2.641-3.319,4.415c0,0.939,0.387,1.633,1.159,2.082c0.771,0.449,2.098,0.673,3.976,0.673h6.074
            c3.715,0,6.569,0.783,8.562,2.348s2.99,3.84,2.99,6.826c0,3.798-1.523,6.695-4.571,8.688c-3.047,1.993-7.493,2.99-13.337,2.99
            c-4.488,0-7.948-0.835-10.379-2.505c-2.433-1.67-3.647-4.028-3.647-7.076c0-2.087,0.667-3.893,2.003-5.417s3.215-2.557,5.636-3.1
            c-0.876-0.396-1.612-1.012-2.207-1.847s-0.893-1.805-0.893-2.912c0-1.252,0.334-2.348,1.002-3.287
            c0.668-0.939,1.723-1.847,3.162-2.724c-1.774-0.73-3.22-1.972-4.336-3.726c-1.117-1.753-1.675-3.757-1.675-6.011
            c0-3.757,1.127-6.653,3.381-8.688c2.255-2.035,5.448-3.053,9.581-3.053c1.795,0,3.412,0.209,4.853,0.626H299.137z M271.772,76.416
            c0,1.857,0.783,3.267,2.349,4.228c1.565,0.959,3.809,1.439,6.731,1.439c4.362,0,7.592-0.652,9.69-1.956
            c2.098-1.305,3.146-3.074,3.146-5.308c0-1.858-0.575-3.146-1.723-3.867c-1.147-0.72-3.309-1.08-6.48-1.08h-6.23
            c-2.359,0-4.195,0.563-5.511,1.691C272.431,72.69,271.772,74.307,271.772,76.416z M274.591,47.33c0,2.4,0.678,4.216,2.035,5.448
            c1.356,1.232,3.245,1.847,5.667,1.847c5.071,0,7.607-2.462,7.607-7.389c0-5.155-2.567-7.733-7.702-7.733
            c-2.441,0-4.32,0.657-5.635,1.973C275.248,42.79,274.591,44.742,274.591,47.33z"
              ></path>
              <path
                class="sfl2"
                d="M316.778,71.281c-5.071,0-9.074-1.544-12.007-4.634c-2.933-3.089-4.398-7.378-4.398-12.868
            c0-5.531,1.361-9.925,4.086-13.181c2.724-3.256,6.381-4.884,10.974-4.884c4.3,0,7.702,1.415,10.206,4.243
            c2.505,2.829,3.758,6.559,3.758,11.193v3.288h-23.639c0.104,4.028,1.122,7.086,3.053,9.173c1.931,2.087,4.649,3.131,8.156,3.131
            c3.694,0,7.347-0.772,10.958-2.317v4.634c-1.837,0.793-3.575,1.362-5.213,1.707C321.073,71.109,319.096,71.281,316.778,71.281z
             M315.37,40.066c-2.756,0-4.952,0.898-6.591,2.693s-2.604,4.279-2.896,7.451h17.94c0-3.276-0.73-5.787-2.191-7.53
            C320.17,40.938,318.083,40.066,315.37,40.066z"
              ></path>
              <path
                class="sfl2"
                d="M350.897,35.714c1.523,0,2.891,0.125,4.102,0.376l-0.72,4.821c-1.42-0.313-2.673-0.469-3.758-0.469
            c-2.775,0-5.15,1.127-7.122,3.381c-1.973,2.254-2.959,5.062-2.959,8.422v18.41h-5.197V36.341h4.289l0.595,6.355h0.251
            c1.272-2.233,2.807-3.955,4.603-5.166C346.775,36.32,348.747,35.714,350.897,35.714z"
              ></path>
            </g>
            <g>
              <g>
                <g>
                  <g>
                    <g>
                      <g>
                        <path
                          class="sfl2"
                          d="M255.857,96.993c0,0-3.43-0.391-4.85-0.391c-2.058,0-3.111,0.735-3.111,2.18
                                c0,1.568,0.882,1.935,3.748,2.719c3.528,0.98,4.801,1.911,4.801,4.777c0,3.675-2.302,5.267-5.609,5.267
                                c-2.18,0-5.487-0.662-5.487-0.662l0.27-2.18c0,0,3.307,0.441,5.046,0.441c2.082,0,3.037-0.931,3.037-2.695
                                c0-1.421-0.759-1.911-3.332-2.523c-3.625-0.93-5.193-2.033-5.193-4.948c0-3.381,2.229-4.777,5.585-4.777
                                c2.131,0,5.316,0.587,5.316,0.587L255.857,96.993z"
                        ></path>
                      </g>
                      <g>
                        <path
                          class="sfl2"
                          d="M262.967,94.494h4.728l3.748,13.105l3.748-13.105h4.752v16.78H277.2V96.772h-0.144l-4.191,13.816h-2.842
                                l-4.192-13.816h-0.145v14.502h-2.719V94.494z"
                        ></path>
                      </g>
                      <g>
                        <path
                          class="sfl2"
                          d="M322.057,94.494h12.248v2.425h-4.728v14.355h-2.743V96.919h-4.777V94.494z"
                        ></path>
                      </g>
                      <g>
                        <path
                          class="sfl2"
                          d="M346.137,94.494c3.332,0,5.12,1.249,5.12,4.36c0,2.033-0.637,3.037-1.984,3.772
                                c1.445,0.563,2.4,1.592,2.4,3.895c0,3.43-2.082,4.753-5.34,4.753h-6.566v-16.78H346.137z M342.487,96.846v4.802h3.601
                                c1.666,0,2.4-0.833,2.4-2.475c0-1.616-0.833-2.327-2.498-2.327H342.487z M342.487,103.95v4.973h3.699
                                c1.69,0,2.694-0.539,2.694-2.548c0-1.911-1.421-2.425-2.743-2.425H342.487z"
                        ></path>
                      </g>
                      <g>
                        <path
                          class="sfl2"
                          d="M358.414,94.494h10.583v2.376h-7.864v4.752h6.394v2.328h-6.394v4.924h7.864v2.4h-10.583V94.494z"
                        ></path>
                      </g>
                      <g>
                        <path
                          class="sfl2"
                          d="M378.747,94.494h5.413l4.164,16.78h-2.743l-1.239-4.924h-5.777l-1.239,4.924h-2.719L378.747,94.494z
                                 M379.108,103.95h4.707l-1.737-7.178h-1.225L379.108,103.95z"
                        ></path>
                      </g>
                      <g>
                        <path
                          class="sfl2"
                          d="M397.096,106.301v4.973h-2.719v-16.78h6.369c3.699,0,5.683,2.119,5.683,5.842
                                c0,2.376-0.955,4.52-2.743,5.352l2.768,5.585h-2.989l-2.425-4.973H397.096z M400.747,96.846h-3.65v7.105h3.699
                                c2.058,0,2.841-1.85,2.841-3.589C403.637,98.45,402.707,96.846,400.747,96.846z"
                        ></path>
                      </g>
                      <g>
                        <path
                          class="sfl2"
                          d="M290.013,94.494h5.413l4.164,16.78h-2.743l-1.239-4.924h-5.777l-1.239,4.924h-2.719L290.013,94.494z
                                 M290.374,103.95h4.707l-1.737-7.178h-1.225L290.374,103.95z"
                        ></path>
                      </g>
                      <g>
                        <path
                          class="sfl2"
                          d="M308.362,106.301v4.973h-2.719v-16.78h6.369c3.699,0,5.683,2.119,5.683,5.842
                                c0,2.376-0.955,4.52-2.743,5.352l2.768,5.585h-2.989l-2.425-4.973H308.362z M312.012,96.846h-3.65v7.105h3.7
                                c2.058,0,2.841-1.85,2.841-3.589C314.902,98.45,313.972,96.846,312.012,96.846z"
                        ></path>
                      </g>
                    </g>
                  </g>
                </g>
                <g>
                  <path
                    class="sfl2"
                    d="M130.606,107.997c0,1.084-0.393,1.93-1.18,2.537c-0.787,0.607-1.854,0.91-3.202,0.91
                    c-1.461,0-2.584-0.188-3.371-0.564v-1.382c0.506,0.214,1.056,0.382,1.652,0.506s1.186,0.186,1.77,0.186
                    c0.955,0,1.674-0.181,2.158-0.544c0.483-0.362,0.725-0.866,0.725-1.512c0-0.427-0.086-0.777-0.257-1.049
                    s-0.458-0.524-0.859-0.754c-0.402-0.23-1.013-0.491-1.833-0.784c-1.146-0.41-1.965-0.896-2.457-1.458
                    c-0.491-0.562-0.737-1.294-0.737-2.199c0-0.949,0.357-1.705,1.07-2.267c0.713-0.562,1.657-0.843,2.832-0.843
                    c1.225,0,2.351,0.225,3.379,0.674l-0.447,1.247c-1.017-0.427-2.005-0.64-2.966-0.64c-0.758,0-1.351,0.163-1.778,0.489
                    c-0.427,0.326-0.64,0.778-0.64,1.356c0,0.427,0.079,0.777,0.236,1.049s0.423,0.522,0.796,0.75s0.945,0.479,1.715,0.754
                    c1.292,0.46,2.181,0.955,2.667,1.483C130.364,106.469,130.606,107.155,130.606,107.997z"
                  ></path>
                  <path
                    class="sfl2"
                    d="M134.448,102.04v5.991c0,0.753,0.171,1.315,0.514,1.686c0.342,0.371,0.879,0.556,1.609,0.556
                    c0.966,0,1.673-0.264,2.12-0.792c0.446-0.528,0.67-1.391,0.67-2.587v-4.854h1.399v9.236h-1.155l-0.202-1.239h-0.076
                    c-0.287,0.455-0.684,0.803-1.192,1.045c-0.509,0.242-1.089,0.362-1.74,0.362c-1.124,0-1.965-0.267-2.524-0.8
                    c-0.559-0.534-0.839-1.388-0.839-2.562v-6.042H134.448z"
                  ></path>
                  <path
                    class="sfl2"
                    d="M148.207,111.444c-0.601,0-1.15-0.111-1.647-0.333c-0.497-0.222-0.914-0.563-1.251-1.023h-0.101
                    c0.067,0.539,0.101,1.05,0.101,1.534v3.8h-1.398V102.04h1.137l0.194,1.264h0.067c0.36-0.505,0.778-0.871,1.256-1.095
                    s1.025-0.337,1.643-0.337c1.225,0,2.17,0.419,2.836,1.256s0.999,2.011,0.999,3.522c0,1.517-0.338,2.695-1.016,3.535
                    C150.349,111.024,149.409,111.444,148.207,111.444z M148.004,103.059c-0.944,0-1.626,0.261-2.048,0.784
                    s-0.638,1.354-0.649,2.494v0.312c0,1.298,0.216,2.226,0.649,2.785s1.126,0.838,2.082,0.838c0.798,0,1.423-0.323,1.875-0.969
                    c0.452-0.646,0.679-1.536,0.679-2.671c0-1.152-0.227-2.035-0.679-2.65S148.825,103.059,148.004,103.059z"
                  ></path>
                  <path
                    class="sfl2"
                    d="M159.04,111.444c-0.601,0-1.15-0.111-1.647-0.333c-0.497-0.222-0.914-0.563-1.251-1.023h-0.101
                    c0.067,0.539,0.101,1.05,0.101,1.534v3.8h-1.398V102.04h1.137l0.194,1.264h0.067c0.36-0.505,0.778-0.871,1.256-1.095
                    s1.025-0.337,1.643-0.337c1.225,0,2.17,0.419,2.836,1.256s0.999,2.011,0.999,3.522c0,1.517-0.338,2.695-1.016,3.535
                    C161.182,111.024,160.242,111.444,159.04,111.444z M158.838,103.059c-0.944,0-1.626,0.261-2.048,0.784s-0.638,1.354-0.649,2.494
                    v0.312c0,1.298,0.216,2.226,0.649,2.785s1.126,0.838,2.082,0.838c0.798,0,1.423-0.323,1.875-0.969
                    c0.452-0.646,0.679-1.536,0.679-2.671c0-1.152-0.227-2.035-0.679-2.65S159.658,103.059,158.838,103.059z"
                  ></path>
                  <path
                    class="sfl2"
                    d="M173.613,106.649c0,1.506-0.379,2.681-1.138,3.527c-0.758,0.846-1.806,1.268-3.143,1.268
                    c-0.826,0-1.559-0.194-2.2-0.582c-0.64-0.388-1.135-0.944-1.483-1.668c-0.349-0.725-0.522-1.573-0.522-2.545
                    c0-1.505,0.376-2.678,1.129-3.518s1.798-1.26,3.135-1.26c1.292,0,2.318,0.43,3.08,1.29
                    C173.233,104.02,173.613,105.183,173.613,106.649z M166.577,106.649c0,1.18,0.236,2.079,0.708,2.697
                    c0.472,0.618,1.166,0.927,2.082,0.927c0.916,0,1.611-0.308,2.085-0.923c0.475-0.615,0.712-1.515,0.712-2.701
                    c0-1.174-0.238-2.066-0.712-2.676c-0.475-0.609-1.175-0.914-2.103-0.914c-0.916,0-1.606,0.3-2.073,0.902
                    C166.81,104.562,166.577,105.458,166.577,106.649z"
                  ></path>
                  <path
                    class="sfl2"
                    d="M180.526,101.871c0.41,0,0.778,0.034,1.104,0.101l-0.194,1.298c-0.382-0.084-0.719-0.126-1.011-0.126
                    c-0.748,0-1.386,0.304-1.917,0.91c-0.531,0.607-0.796,1.363-0.796,2.267v4.955h-1.398v-9.236h1.154l0.16,1.71h0.067
                    c0.343-0.601,0.755-1.064,1.239-1.391C179.416,102.034,179.947,101.871,180.526,101.871z"
                  ></path>
                  <path
                    class="sfl2"
                    d="M187.364,110.29c0.247,0,0.486-0.018,0.716-0.055s0.413-0.075,0.548-0.114v1.07
                    c-0.152,0.073-0.375,0.134-0.67,0.181c-0.295,0.048-0.561,0.072-0.796,0.072c-1.787,0-2.68-0.941-2.68-2.823v-5.495h-1.323
                    v-0.674l1.323-0.582l0.59-1.972h0.809v2.141h2.68v1.087h-2.68v5.436c0,0.556,0.132,0.983,0.396,1.281
                    C186.541,110.141,186.903,110.29,187.364,110.29z"
                  ></path>
                  <path
                    class="sfl2"
                    d="M194.539,111.444c-1.365,0-2.442-0.416-3.231-1.247c-0.79-0.832-1.184-1.986-1.184-3.463
                    c0-1.489,0.366-2.671,1.1-3.548c0.733-0.876,1.718-1.315,2.954-1.315c1.157,0,2.073,0.381,2.747,1.142
                    c0.674,0.761,1.011,1.766,1.011,3.013v0.885h-6.362c0.028,1.084,0.302,1.907,0.822,2.469c0.52,0.562,1.251,0.843,2.195,0.843
                    c0.994,0,1.978-0.208,2.949-0.624v1.247c-0.494,0.213-0.962,0.367-1.403,0.459C195.695,111.398,195.163,111.444,194.539,111.444
                    z M194.16,103.042c-0.742,0-1.333,0.242-1.774,0.725c-0.441,0.483-0.701,1.151-0.78,2.005h4.829c0-0.882-0.196-1.558-0.59-2.027
                    C195.452,103.277,194.89,103.042,194.16,103.042z"
                  ></path>
                  <path
                    class="sfl2"
                    d="M206.951,110.037h-0.075c-0.646,0.938-1.612,1.407-2.899,1.407c-1.208,0-2.147-0.413-2.819-1.239
                    c-0.671-0.826-1.007-2-1.007-3.522s0.337-2.705,1.011-3.548c0.674-0.843,1.612-1.264,2.814-1.264
                    c1.253,0,2.213,0.455,2.882,1.365h0.109l-0.06-0.666l-0.033-0.649v-3.758h1.398v13.112h-1.138L206.951,110.037z
                     M204.154,110.273c0.955,0,1.647-0.26,2.077-0.779s0.645-1.358,0.645-2.516v-0.295c0-1.309-0.218-2.243-0.653-2.802
                    c-0.436-0.559-1.131-0.839-2.086-0.839c-0.82,0-1.448,0.319-1.883,0.957c-0.436,0.638-0.653,1.538-0.653,2.701
                    c0,1.18,0.216,2.07,0.649,2.671S203.317,110.273,204.154,110.273z"
                  ></path>
                  <path
                    class="sfl2"
                    d="M220.713,101.888c1.214,0,2.156,0.415,2.827,1.243s1.007,2.001,1.007,3.518s-0.338,2.695-1.016,3.535
                    c-0.677,0.84-1.616,1.26-2.818,1.26c-0.602,0-1.15-0.111-1.647-0.333c-0.497-0.222-0.914-0.563-1.252-1.023h-0.101l-0.295,1.188
                    h-1.003V98.163h1.398v3.185c0,0.714-0.022,1.354-0.067,1.921h0.067C218.466,102.348,219.432,101.888,220.713,101.888z
                     M220.511,103.059c-0.955,0-1.644,0.274-2.064,0.822c-0.422,0.547-0.633,1.47-0.633,2.768s0.217,2.226,0.649,2.785
                    s1.126,0.838,2.081,0.838c0.86,0,1.5-0.313,1.922-0.939c0.421-0.626,0.632-1.527,0.632-2.701c0-1.203-0.211-2.099-0.632-2.688
                    C222.044,103.354,221.393,103.059,220.511,103.059z"
                  ></path>
                  <path
                    class="sfl2"
                    d="M225.76,102.04h1.5l2.022,5.267c0.443,1.203,0.719,2.07,0.825,2.604h0.067
                    c0.073-0.287,0.227-0.776,0.46-1.471c0.232-0.693,0.995-2.827,2.287-6.4h1.5l-3.969,10.517c-0.394,1.04-0.853,1.777-1.378,2.212
                    c-0.525,0.435-1.17,0.653-1.934,0.653c-0.428,0-0.849-0.048-1.265-0.143v-1.121c0.31,0.068,0.654,0.102,1.037,0.102
                    c0.96,0,1.646-0.54,2.056-1.618l0.515-1.314L225.76,102.04z"
                  ></path>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <div class="flex flex-col sm:flex-row sm:flex-wrap">
      <div class="sm:w-1/2 lg:w-1/4">
        <div class="text-clr-green text-xl mb-4">Swagger Open Source</div>
        <ul class="pl-0 list-none">
          <li><a href="https://swagger.io/license/">Open Source License</a></li>
          <li>
            <a
              class="external-link-arrow"
              href="https://community.smartbear.com/t5/Swagger-Open-Source-Tools/bd-p/SwaggerOSTools"
              >Swagger Forum</a>
          </li>
          <li>
            <a class="external-link-arrow" href="https://github.com/swagger-api"
              >Swagger GitHub</a>
          </li>
          <li><a href="https://swagger.io/community">Swagger Community</a></li>
          <li>
            <a href="https://swagger.io/tools/open-source">Swagger Projects</a>
          </li>
        </ul>
      </div>
      <div class="sm:w-1/2 lg:w-1/4">
        <div class="text-clr-green text-xl mb-4">Swagger</div>
        <ul class="pl-0 list-none">
          <li><a href="https://swagger.io/about/">About Swagger</a></li>
          <li><a href="https://swagger.io/blog/">Blog</a></li>
          <li><a href="https://swagger.io/support/">Support</a></li>
          <li><a href="https://swagger.io/blog/news/">News</a></li>
          <li>
            <a
              class="external-link-arrow"
              href="https://smartbear.com/contact-us/">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="sm:w-1/2 lg:w-1/4">
        <div class="text-clr-green text-xl mb-4">Pro Tools</div>
        <ul class="pl-0 list-none">
          <li><a href="https://swagger.io/tools/swaggerhub/">SwaggerHub</a></li>
          <li>
            <a href="https://swagger.io/tools/swaggerhub-explore/"
              >SwaggerHub Explore</a>
          </li>
          <li>
            <a href="https://swagger.io/tools/swaggerhub/enterprise/"
              >SwaggerHub Enterprise</a>
          </li>
          <li>
            <a href="https://swagger.io/open-source-comparison/"
              >SwaggerHub vs OSS</a>
          </li>
          <li>
            <a href="https://swagger.io/tools/swaggerhub/integrations/"
              >SwaggerHub Integrations</a>
          </li>
        </ul>
      </div>
      <div class="sm:w-1/2 lg:w-1/4">
        <div class="text-clr-green text-xl mb-4">Resources</div>
        <ul class="pl-0 list-none">
          <li>
            <a href="https://swagger.io/specification/"
              >OpenAPI Specification</a>
          </li>
          <li><a href="https://swagger.io/resources/">Resources</a></li>
          <li>
            <a href="https://swagger.io/docs/swagger-tools/"
              >Open Source Docs</a>
          </li>
          <li>
            <a
              class="external-link-arrow"
              href="https://support.smartbear.com/swaggerhub-explore/"
              >SwaggerHub Explore Docs</a
            >
          </li>
          <li>
            <a
              class="external-link-arrow"
              href="https://support.smartbear.com/swaggerhub/docs/"
              >SwaggerHub Docs</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<style>
  ul {
    @apply mb-4;
  }
  ul li a {
    @apply text-white no-underline;
    &:hover {
      @apply underline;
    }
  }
  .external-link-arrow:after {
    content: "\f062";
    font-family: "Font Awesome 5 Pro";
    @apply font-light text-[10px] inline-block ml-[5px] relative top-[-7px] transform rotate-45;
  }
</style>
