---
import { getImage } from 'astro:assets';
import footerBackground from '../assets/swagger-footer-image.png';
const optimizedBackgroundImage = await getImage({
    src: footerBackground,
    quality: 75,
});
---

<div
    class='swagger_footer isolate relative z-[2]'
    style={`background-image: url(${optimizedBackgroundImage.src});background-size: cover; background-position: center;background-repeat:no-repeat;`}
>
    <div class='container mx-auto pt-[60px] pb-[50px] sm:px-4'>
        <div>
            <div class='mb-5 w-[150px]'>
                <img
                    src='https://static1.smartbear.co/swagger/media/images/logos/sw_full-wt.svg'
                    style=''
                    alt='Swagger Logo'
                />
            </div>
        </div>
        <div class='flex flex-col sm:flex-row sm:flex-wrap'>
            <div class='sm:w-1/2 lg:w-1/4'>
                <div class='text-swagger-dark text-xl mb-4'
                    >Swagger Open Source</div
                >
                <ul class='pl-0 list-none'>
                    <li><a href='/license/'>Open Source License</a></li>
                    <li
                        ><a
                            class='external-link-arrow'
                            href='https://community.smartbear.com/t5/Swagger-Open-Source-Tools/bd-p/SwaggerOSTools'
                            >Swagger Forum</a
                        ></li
                    >
                    <li
                        ><a
                            class='external-link-arrow'
                            href='https://github.com/swagger-api'
                            >Swagger GitHub</a
                        ></li
                    >
                    <li><a href='/community'>Swagger Community</a></li>
                    <li><a href='/tools/open-source'>Swagger Projects</a></li>
                </ul>
            </div>
            <div class='sm:w-1/2 lg:w-1/4'>
                <div class='text-swagger-dark text-xl mb-4'>Swagger</div>
                <ul class='pl-0 list-none'>
                    <li><a href='/about/'>About Swagger</a></li>
                    <li><a href='/blog/'>Blog</a></li>
                    <li><a href='/support/'>Support</a></li>
                    <li><a href='/blog/news/'>News</a></li>
                    <li
                        ><a
                            class='external-link-arrow'
                            href='https://smartbear.com/contact-us/'
                            >Contact Us</a
                        ></li
                    >
                </ul>
            </div>
            <div class='sm:w-1/2 lg:w-1/4'>
                <div class='text-swagger-dark text-xl mb-4'>Pro Tools</div>
                <ul class='pl-0 list-none'>
                    <li><a href='/tools/swaggerhub/'>SwaggerHub</a></li>
                    <li
                        ><a href='/tools/swaggerhub-explore/'
                            >SwaggerHub Explore</a
                        ></li
                    >
                    <li
                        ><a href='/tools/swaggerhub/enterprise/'
                            >SwaggerHub Enterprise</a
                        ></li
                    >
                    <li
                        ><a href='/open-source-comparison/'>SwaggerHub vs OSS</a
                        ></li
                    >
                    <li
                        ><a href='/tools/swaggerhub/integrations/'
                            >SwaggerHub Integrations</a
                        ></li
                    >
                </ul>
            </div>
            <div class='sm:w-1/2 lg:w-1/4'>
                <div class='text-swagger-dark text-xl mb-4'>Resources</div>
                <ul class='pl-0 list-none'>
                    <li><a href='/specification/'>OpenAPI Specification</a></li>
                    <li><a href='/resources/'>Resources</a></li>
                    <li><a href='/docs/swagger-tools/'>Open Source Docs</a></li>
                    <li
                        ><a
                            class='external-link-arrow'
                            href='https://support.smartbear.com/swaggerhub-explore/'
                            >SwaggerHub Explore Docs</a
                        >
                    </li>
                    <li
                        ><a
                            class='external-link-arrow'
                            href='https://support.smartbear.com/swaggerhub/docs/'
                            >SwaggerHub Docs</a
                        ></li
                    >
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
    ul {
        @apply mb-4;
    }
    ul li a {
        @apply text-white no-underline;
        &:hover {
            @apply underline;
        }
    }
    .external-link-arrow:after {
        content: '\f062';
        font-family: 'Font Awesome 5 Pro';
        @apply font-light text-[10px] inline-block ml-[5px] relative top-[-7px] transform rotate-45;
    }
</style>
