@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    .starlight-aside--note {
        --sl-color-asides-text-accent: #231F20;
        border-color: #63db2a;
        background-color: #38B832; 
    }
}